In [ ]:
print("I am {name} and I am a {Designation}".format(name="Virat",Designation="Data Scientist"))

In [ ]:
variables
keywords
identifiers
indentation
statements
comments
# ,"""""", ''''''

In [6]:
a=10
b=50
c=a+b
"""Learn from the best and get placed in a top role by investing in yourself, risk-free. 30+ industry relevant projects from the likes of Walmart, Mercedes Benz and more. Learn From Home. Instructor-led Training. Video Based e-Learning."""
print(c)

60

In [3]:
a=10
b=20
c=a+b
# C is addition of a and b
print(c)

30

In [ ]:
Global 
local

In [25]:
string1= " Data Science "       #Global variable
print(id(string1))
def multiplication_123():
    global string1
    global p
    global r
    p=10              #Local Variables
    q=20              #Local Variables
    r=p*q             #Local Variables
    print(r)
#     string1="Machine Learning"
#     print(id(string1))
    string1=2*string1
    print(string1)
    
multiplication_123()
print(string1)
print(p)
print(r)

print(id(p))

1833356863152
200
 Data Science  Data Science
 Data Science  Data Science
10
200
140727021217856

In [26]:
num=int(input("Enter the number:"))

s1=input("Enter the value:")

Enter the number:20
Enter the value:datascience

In [27]:
Implicit
a=10
b=12.5
c=a+b
print(c)

22.5

In [28]:
Explicit (Type casting)
a=10
b=12.5
d=int(b)
c=a+d
print(c)

22

In [ ]:
DataType:-
numerical
int
float
complex

In [ ]:
Python Type casting (To change datatype of variables)

In [ ]:
int>> float
float>>int
int>> complex
float>> complex
complex !>> int
complex !>>float

In [30]:
x=35
print(x,type(x),id(x))

35 <class 'int'> 140727021218656

In [31]:
x=8
print(x,type(x),id(x))

8 <class 'int'> 140727021217792

In [32]:
x=35.5
print(x,type(x),id(x))

35.5 <class 'float'> 1833356877456

In [33]:
x=[4,5,6,7,8]
print(x,type(x),id(x))

[4, 5, 6, 7, 8] <class 'list'> 1833357101248

In [34]:
x.append(100)
print(x,type(x),id(x))

[4, 5, 6, 7, 8, 100] <class 'list'> 1833357101248

In [ ]:
1. int to float

In [ ]:
25 >> 25.0

In [35]:
x=25
y=float(x)

print(f"x=={x}")     # 25
print(f"x=={y}")     # 25.0

x==25
x==25.0

In [36]:
x=234567890
y=float(x)

print(f"x=={x} , DataType=={type(x)}")     
print(f"x=={y} ,DataType=={type(y)}")

x==234567890 , DataType==<class 'int'>
x==234567890.0 ,DataType==<class 'float'>

In [37]:
a=23

b=float(a)

print(a)
print(b)

23
23.0

In [38]:
p=23
q=22.5
r=p+q
print(r)

45.5

In [39]:
p=float(23)
q=22.5
r=p+q
print(r)

45.5

In [ ]:
2. Float to Int

In [42]:
x= 3.45

print(f"x=={x} and dataType of x is {type(x)},and id of x is {id(x)}")

y=int(x)

print(f"y=={y} and dataType of y is {type(y)} and id of y is {id(y)}")

x==3.45 and dataType of x is <class 'float'>,and id of x is 1833357285488
y==3 and dataType of y is <class 'int'> and id of y is 140727021217632

In [44]:
x=5.234567890
print(f"x=={x} and dataType of x is {type(x)},and id of x is {id(x)}")

y=int(x)

print(f"y=={y} and dataType of y is {type(y)} and id of y is {id(y)}")

x==5.23456789 and dataType of x is <class 'float'>,and id of x is 1833357286096
y==5 and dataType of y is <class 'int'> and id of y is 140727021217696

In [45]:
p=10.1234567890123
print(p,type(p),id(p))
p=int(p)

print(p,type(p),id(p))

10.1234567890123 <class 'float'> 1833357284880
10 <class 'int'> 140727021217856

In [ ]:
3. int to complex

In [46]:
x=45

complex(x)

(45+0j)

In [2]:
x=6
complex(x)

(6+0j)

In [47]:
x=45
print(x,type(x),id(x))
y=complex(x)
print(y,type(y),id(y))
# complex(x)

45 <class 'int'> 140727021218976
(45+0j) <class 'complex'> 1833356876048

In [48]:
x=-5
print(x,type(x),id(x))
y=complex(x)
print(y,type(y),id(y))
# complex(x)

-5 <class 'int'> 140727021217376
(-5+0j) <class 'complex'> 1833356876720

In [49]:
x=-56894562
print(x,type(x),id(x))
y=complex(x)
print(y,type(y),id(y))
# complex(x)

-56894562 <class 'int'> 1833357287024
(-56894562+0j) <class 'complex'> 1833357286000

In [ ]:
4. float to complex

In [50]:
x=5.3
print(x,type(x),id(x))
y=complex(x)
print(y,type(y),id(y))

5.3 <class 'float'> 1833357283728
(5.3+0j) <class 'complex'> 1833357286224

In [51]:
x=-5.3
print(x,type(x),id(x))
y=complex(x)
print(y,type(y),id(y))

-5.3 <class 'float'> 1833357284880
(-5.3+0j) <class 'complex'> 1833357284944

In [52]:
x=0.0
print(x,type(x),id(x))
y=complex(x)
print(y,type(y),id(y))

0.0 <class 'float'> 1833357285232
0j <class 'complex'> 1833357284816

In [53]:
x=0.2
print(x,type(x),id(x))
y=complex(x)
print(y,type(y),id(y))

0.2 <class 'float'> 1833357285872
(0.2+0j) <class 'complex'> 1833357284208

In [54]:
x=0.123456789012345
print(x,type(x),id(x))
y=complex(x)
print(y,type(y),id(y))

0.123456789012345 <class 'float'> 1833357283728
(0.123456789012345+0j) <class 'complex'> 1833357287056

In [ ]:
5. Complex to int

In [55]:
x= 4+5j
print(x,type(x),id(x))

y=int(x)
print(y,type(y),id(y))

(4+5j) <class 'complex'> 1833357285200

TypeError: can't convert complex to int

In [ ]:
6. Complex to float

In [56]:
x= 4+5j
print(x,type(x),id(x))

y=float(x)
print(y,type(y),id(y))

(4+5j) <class 'complex'> 1833357287216

TypeError: can't convert complex to float

In [57]:
a=5+6j
print(a,type(a),id(a))

b=float(a)
print(b,type(b),id(b))

(5+6j) <class 'complex'> 1833357286992

TypeError: can't convert complex to float

In [ ]:
int 
float 
complex

# 2. Text DataType

In [ ]:
String:-

In [58]:
s1="python"
type(s1)

str

In [59]:
print(s1,type(s1))

python <class 'str'>

In [ ]:
1.int to str

In [60]:
x=123456
print(x,type(x),id(x))

y=str(x)
print(y,type(y),id(y))

123456 <class 'int'> 1833357284816
123456 <class 'str'> 1833357214384

In [61]:
y

'123456'

In [62]:
x

123456

In [ ]:
2. Float to string

In [63]:
x=34.56

print(x,type(x),id(x))

y=str(x)
print(y,type(y),id(y))

34.56 <class 'float'> 1833357283920
34.56 <class 'str'> 1833357240496

In [64]:
y

'34.56'

In [65]:
x

34.56

In [68]:
x=56.123456789

print(f"The value of x is {x}, and Datatype of x is {type(x)}, id is {id(x)}")

y=str(x)
print(f"The value of y is {y}, and Datatype of x is {type(y)}, id is {id(y)}")

The value of x is 56.123456789, and Datatype of x is <class 'float'>, id is 1833358086288
The value of y is 56.123456789, and Datatype of x is <class 'str'>, id is 1833356701936

In [ ]:
3. string to int

In [73]:
s1="65"
# s1=65
print(f"The value of s1 is {s1}, and Datatype of s1 is {type(s1)}, id is {id(s1)}")

y=int(s1)
print(f"The value of y is {y}, and Datatype of y is {type(y)}, id is {id(y)}")
print(s1)
s1

The value of s1 is 65, and Datatype of s1 is <class 'str'>, id is 1833358003440
The value of y is 65, and Datatype of y is <class 'int'>, id is 140727021219616
65

In [77]:
s2='     123456           '
print(len(s2))

y=int(s2)
print(f"The value of y is {y}, and Datatype of y is {type(y)}, id is {id(y)}")
print(s2)
print(y)

22
The value of y is 123456, and Datatype of y is <class 'int'>, id is 1833358087248
     123456
123456

In [78]:
p="1234abc"

q= int(p)

print(q,type(q),id(q))

ValueError: invalid literal for int() with base 10: '1234abc'

In [82]:
x="2.1234567890"
y=int(x)
print(f"The value of y is {y}, and Datatype of y is {type(y)}, id is {id(y)}")
print(x)
print(y)

ValueError: invalid literal for int() with base 10: '2.1234567890'

In [ ]:
4. string to float

In [83]:
x="23.456789"
print(x,type(x),id(x))

y=float(x)

print(f"The value of y is {y}, and Datatype of y is {type(y)}, id is {id(y)}")
print(x)
print(y)

23.456789 <class 'str'> 1833358131568
The value of y is 23.456789, and Datatype of y is <class 'float'>, id is 1833357286896
23.456789
23.456789

In [84]:
x="23.456789abc"
print(x,type(x),id(x))

y=float(x)

print(f"The value of y is {y}, and Datatype of y is {type(y)}, id is {id(y)}")
print(x)
print(y)

23.456789abc <class 'str'> 1833358126640

ValueError: could not convert string to float: '23.456789abc'

In [85]:
x="23.456789-"
print(x,type(x),id(x))

y=float(x)

print(f"The value of y is {y}, and Datatype of y is {type(y)}, id is {id(y)}")
print(x)
print(y)

23.456789- <class 'str'> 1833358124208

ValueError: could not convert string to float: '23.456789-'

In [86]:
x="23.456789@#$"
print(x,type(x),id(x))

y=float(x)

print(f"The value of y is {y}, and Datatype of y is {type(y)}, id is {id(y)}")
print(x)
print(y)

23.456789@#$ <class 'str'> 1833358113904

ValueError: could not convert string to float: '23.456789@#$'

In [87]:
x="    23.456789    "
print(x,type(x),id(x))

y=float(x)

print(f"The value of y is {y}, and Datatype of y is {type(y)}, id is {id(y)}")
print(x)
print(y)

    23.456789     <class 'str'> 1833358096224
The value of y is 23.456789, and Datatype of y is <class 'float'>, id is 1833357284432
    23.456789
23.456789

In [88]:
x="23.456789"
print(x,type(x),id(x))

y=float(x)

print(f"The value of y is {y}, and Datatype of y is {type(y)}, id is {id(y)}")
print(x)
print(y)

23.456789 <class 'str'> 1833358002288
The value of y is 23.456789, and Datatype of y is <class 'float'>, id is 1833357284208
23.456789
23.456789

In [89]:
x="23.456789."
print(x,type(x),id(x))

y=float(x)

print(f"The value of y is {y}, and Datatype of y is {type(y)}, id is {id(y)}")
print(x)
print(y)

23.456789. <class 'str'> 1833357267696

ValueError: could not convert string to float: '23.456789.'

Data Science Life cycle:
    
    
1) Bisness understanding and problem statement. (Finance domain,Health care domain)/-team discussion, domain expert, (Discovery phase),client input
2) Data Collection:- JSON, CSV
3) Data Preparation:-
4) EDA- (Exploratory Data Analysis): outlier,missing values, cardinality percentage, matplotlib,seaborn
5) Modeling-
6) Model Evaluation-
7) Model Deployement-

Data Engineer- 2,3(SQL,BIG Queery),ETL pipelines-(EXtract,transforn and load data)

Data Analyst- 1,2,3 (calculations)

Data Scientist- All blocks (Codding,ML,SQL,NLP,DL)

Devops- 7 

AI Devloper-(Codding)

Machine Learning Engineer-(Machine Learning)

In [92]:
w1="product is verry good......."

In [94]:
w2=w1.replace(".","")
w2

'product is verry good'

In [ ]:
int to complex

In [3]:
x=(10,12)

y=complex(x)
y

TypeError: complex() first argument must be a string or a number, not 'tuple'

In [97]:
x=12

y=complex(x)
y

(12+0j)

In [ ]:
int to float

In [99]:
a=2500
b=float(a)
b

2500.0