# Arithmatic Operators

In [ ]:
Enumerate():

In [1]:
s1="Data Science"

for index,val in enumerate(s1):
    print(index,val)

0 D
1 a
2 t
3 a
4
5 S
6 c
7 i
8 e
9 n
10 c
11 e

In [11]:
s1="Data Science"

for index,val in enumerate(s1,50):
    print(index,val)

50 D
51 a
52 t
53 a
54
55 S
56 c
57 i
58 e
59 n
60 c
61 e

In [12]:
list1=[1,2,3,4]

x= list1*5
print(x)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [14]:
s2=" Python"*5
print(s2)

 Python Python Python Python Python

In [15]:
a1="python"
a2="data"

print(a1*a2)

TypeError: can't multiply sequence by non-int of type 'str'

In [16]:
l1=[1,2,3]
l2=[4,5,6]

print(l1*l2)

TypeError: can't multiply sequence by non-int of type 'list'

In [ ]:
Division:

In [17]:
a=10    #int
b=5     #int

c=a/b    #float
print(c)

2.0

In [18]:
a=50    #int
b=4    #int

c=a/b    #float
print(c)

12.5

In [19]:
a=50    #int
b=3    #int

c=a/b    #float
print(c)

16.666666666666668

In [21]:
a=10    #int
b=50     #int

c=b/a    #float
print(c)

5.0

In [22]:
a=50    #int
b=50     #int

c=a/b    #float
print(c)

1.0

In [23]:
a=10    #int
b=5     #int

c=b/b    #int
print(int(c))

1

In [24]:
a=10    #int
b=5     #int

c=b/b    #float
print(c)

1.0

In [26]:
a=50.3456789    #float
b=10.23456789     #float

c=a/b    #float
print(c)

4.919179729042767

In [ ]:
//= floor division   (output will always be in int)

In [2]:
a=10
b=20
c=b/a
c

2.0

In [27]:
a=10    #int
b=5     #int

c=a//b   
print(c)

2

In [28]:
a=10    #int
b=3     #int

c=a//b    
print(c)

3

In [29]:
a=10    #int
b=4     #int

c=a//b    
print(c)

2

In [30]:
a=10    #int
b=3     #int

c=a%b    
print(c)

1

In [4]:
a=15   #int
b=4     #int

c=a//b    
print(c)

3

In [32]:
a=250    #int
b=5     #int

c=a%b    
print(c)

0

In [5]:
a=250   #int
b=5     #int

c=a//b    
print(c)

50

In [34]:
a=15    #int
b=4    #int

c=a//b    
print(c)

3

In [36]:
a=27    #int
b=3     #int

c=a%b    
print(c)

0

In [39]:
a= 17
b=4

int(a/b)

4

In [40]:
a= 17
b=4

(a/b)

4.25

In [41]:
a= 17
b=4

(a%b)

1

In [42]:
a= 17
b=4

(a//b)

4

In [43]:
int(4.25)

4

# Exponent:(**)

In [44]:
10**2

100

In [45]:
8**2

64

In [46]:
2**5

32

In [47]:
6**3

216

In [48]:
25**2

625

In [49]:
28**5

17210368

In [ ]:
num % 2 == 1  >> odd

In [ ]:
num % 2 == 1 >> odd
num % 2 !=0  >> odd

In [ ]:
num % 2 == 0 >> even
num % 2 !=1  >> even

# Even and Odd numbers:

In [51]:
x=16

if x % 2 == 0:
    print("x is an even number")
else:
    print("x is odd number")

x is an even number

In [52]:
x=15

if x % 2 == 0:
    print("x is an even number")
else:
    print("x is odd number")

x is odd number

In [6]:
num= int(input("Enter the number:"))

if num % 2 != 1:
    print(f"{num} is an even number")
else:
    print(f"{num} is an odd number")

Enter the number:37
37 is an odd number

In [54]:
num= int(input("Enter the number:"))

if num % 2 != 1:
    print(f"{num} is an even number")
else:
    print(f"{num} is an odd number")

Enter the number:50
50 is an even number

In [11]:
list1=[4,5,20,3,10,20,67,98,87]

for i in list1:
    if i % 2 == 0:
        print(i,":even")
        
    else:
        print(i,":odd")

# 4:even
# 5:odd

4 :even
5 :odd
20 :even
3 :odd
10 :even
20 :even
67 :odd
98 :even
87 :odd

In [77]:
list1=[4,5,20,3,10,20,67,98,87]
list2=[]

for i in list1:   #5
    if i % 2 == 0:  #5 % 2==0 
        list2.append(i)
print(list2)

[4, 20, 10, 20, 98]

In [78]:
list1=[4,5,20,3,10,20,67,98,87]
list2=[]

for i in list1:   #5
    if i % 2 == 0:  #5 % 2==0 
        list2.append(i)
        print(list2)

[4]
[4, 20]
[4, 20, 10]
[4, 20, 10, 20]
[4, 20, 10, 20, 98]

In [79]:
list1=[4,5,20,3,10,20,67,98,87]
list2=[]

for i in list1:   #5
    if i % 2 == 0:  #5 % 2==0 
        list2.append(i)
    print(list2)

[4]
[4]
[4, 20]
[4, 20]
[4, 20, 10]
[4, 20, 10, 20]
[4, 20, 10, 20]
[4, 20, 10, 20, 98]
[4, 20, 10, 20, 98]

In [80]:
x= 34

if x% 2 != 1:
    print("x is even number")
else:
    print("x is odd number")

x is even number

In [ ]:
y = 4x^3+5*x^2+8x+7

x=5
x=6
x=7

In [ ]:
for x=5

In [ ]:
#y=4x^3+5*x^2+8x+7

x=[5,6,7]

for i in x:
    y=4*i^3+5*i^2+8*i+7
    print(y)

In [7]:
l=[5,6,7]

for x in l:
    print((4*(x**3))+(5*(x**2))-(8*x)+7)

592
1003
1568

In [86]:
x=5
y=4*(x**3)+5*(x**2)-8*x+7
print(y)

592

In [88]:
x=6

y= 4*(x**3) + 5*(x**2) - 8*x +7

print(y)

1003

In [89]:
10* 2/4

5.0

In [ ]:
# BODMAS

In [90]:
100/10*5

50.0

In [91]:
10 - 5 + 6

11

In [92]:
10 - 5 * 6

-20

In [93]:
(10 - 5) * 6

30

In [94]:
a= 10
print(a)

a+=15

print(a)

10
25

# Count=

In [98]:
s1="python"
count=0

for i in s1:
    print(count,i)
    count=count+1

0 p
1 y
2 t
3 h
4 o
5 n

In [99]:
s1="python"
count=0

for i in s1:
    print(count,i)
    count+=1

0 p
1 y
2 t
3 h
4 o
5 n

In [101]:
x= 10

x= x-5
print(x)

5

In [102]:
x= 10
x-=6

print(x)

4

In [103]:
x=5

x*=9
print(x)

45

In [105]:
x = 14
x%=3
x

2

In [106]:
x=14

x//=3

x

4

# Comparison operator: == != < > <= >=

In [107]:
a= 5
b=10

print(a==b)

False

In [108]:
s1="python"
s2="python"

print(s1==s2)

True

In [109]:
l1=[1,2,3]
l2=[1,2,3]

print(l1==l2)

True

In [110]:
l1=[1,2,3]
l2=[1,2,4]

print(l1==l2)

False

# Logical Operator: and or not

In [111]:
a= True
b=True

print(a and b)

True

In [112]:
a= True
b=False

print(a and b)

False

In [113]:
a= True
b=True

print(a or b)

True

In [114]:
a=True
b= not(a)
print(b)

False

In [117]:
a=False
b= not(a)
print(b)

True

In [ ]:
Identity Operator:

In [119]:
a= 10
print(id(a))
b=30
print(id(b))
print(a is b)

140733935790144
140733935790784
False

In [123]:
a= 10
print(id(a))
b=10
print(id(b))
print(a is b)
print(id(a)==id(b))

140733935790144
140733935790144
True
True

In [125]:
s1="python"
s2="python"

print(id(s1))
print(id(s2))

print(s1 is s2)

1953103081264
1953103081264
True

In [126]:
s1="python"
s2="python "

print(id(s1))
print(id(s2))

print(s1 is s2)

1953103081264
1953136098672
False

In [127]:
s1="python "       # 
s2="python "

print(id(s1))
print(id(s2))

print(s1 is s2)

1953136077872
1953136075696
False

In [128]:
s1="python data"
s2="python data"

print(id(s1))
print(id(s2))

print(s1 is s2)

1953136079536
1953136082160
False

In [129]:
s1="pythondata"
s2="pythondata"

print(id(s1))
print(id(s2))

print(s1 is s2)

1953136081072
1953136081072
True

In [ ]:
Membership Operator:

In [133]:
m1="python and data science"

"python" in m1

True

In [134]:
m1="python and data science"

"Python" in m1

False

In [135]:
m1="python and data science"

print("Python" not in m1)

True

In [136]:
m1="python and data science"

print("Python" in m1)

False

In [141]:
a="ab&"
b="ab&"

print(id(a))
print(id(b))

print(a is b)

1953135642224
1953135258224
False

In [139]:
a= "ab"
b="ab"

print(id(a))
print(id(b))

print(a is b)

1953071672432
1953071672432
True

In [140]:
a= "ab"
b="abcd"

print(id(a))
print(id(b))

print(a is b)

1953071672432
1953135927664
False

In [142]:
a="ab12"    # alphanumeric string
b="ab12"

print(id(a))
print(id(b))

print(a is b)

1953134401648
1953134401648
True

In [143]:
a = "ab_"
b = "ab_"

print(id(a))
print(id(b))

print(a is b)

1953135665392
1953135665392
True

In [145]:
p= 1.5    # It will work only with int and string & not with float
q=1.5

print(id(p))
print(id(q))

print(p is q)

1953135570672
1953136112080
False

In [ ]:
Bitwise Operators: & | ^ << >> ~

In [ ]:
Bitwise and

In [150]:

a=10
b=10
print(bin(a))
print(bin(b))

print(a & b)

0b1010
0b1010
10

In [ ]:
1010

In [151]:
a=10
b=4
print(bin(a))
print(bin(b))

print(a & b)

0b1010
0b100
0

In [152]:
a=10
b=5
print(bin(a))
print(bin(b))

print(a & b)

0b1010
0b101
0

In [ ]:
Bitwise-or

In [153]:
a=10
b=4
print(bin(a))
print(bin(b))

print(a | b)

0b1010
0b100
14

In [ ]:
1 0 1 0
0 1 0 0

1 1 1 0

In [ ]:
1*2**3+1*2**2+1*2*1+0*2*0
1*8+1*4+2
14

In [ ]:
Bitwise-Compliment

In [154]:
print(~12)

-13

In [155]:
bin(12)

'0b1100'

In [ ]:
0 0 0 0 1 1 0 0    # 12

1 1 1 1 0 0 1 1    # compliment of 12

In [156]:
bin(13)

'0b1101'

In [ ]:
0 0 0 0 1 1 0 1    # 13

1 1 1 1 0 0 1 0    # 1's compliment of 13
              1
1 1 1 1 0 0 1 1    # 2's compliment of 13 (-13)

In [ ]:
4) left shift (<<)  (Gaining of bits)

In [159]:
10 << 2

40

In [3]:
20 << 4

320

In [ ]:
1010.0000  >> 101000

In [160]:
10 << 4

160

In [ ]:
1010.0000  >> 10100000

In [161]:
128+32

160

In [ ]:
5) Right Shift (>>)  (Loosing of bits)

In [162]:
print(10 >> 2)

2

In [ ]:
1 0 1 0 . 0 0 0 0    >> 1 0 . 1 0 0 0 0 0

In [163]:
print(10 >> 4)

0

In [ ]:
1 0 1 0 . 0 0 0 0    >> 0.1 0 1 0 0 0 0 0

In [ ]:
6)Bitwise X-OR   (^)

In [166]:
a=11
b=13
print(a^b)

6

In [165]:
bin(11)
bin(13)

'0b1101'

In [ ]:
1 0 1 1 
1 1 0 1

0 1 1 0 =6