In [1]:
a=10 # 1
b=20 #2

c=a+b    #3
print(c)

30

In [ ]:
source code>> byte code>> PVM(Python machine) >> machine code(00110)

In [ ]:
lexing >> parsing (AST-Abstract syntax tree)>> compiling >> byte code ()

In [ ]:
3

1   2

In [ ]:
print(c)

In [ ]:
OOPS-methods

In [ ]:
def add(a,b):
    c=a+b
    print(c)

In [ ]:
print("The value of a is {} b is{} and add of both is {} ".format(a,b,c))
print("The value of a is {0} b is{1} and add of both is {2} ".format(a,b,c))
print("The value of a is {} b is{} and add of both is {name} ".format(a,b,name="Velocity"))
print(f"The value of a is {a} b is{b} and add of both is {c} ")
print("The value of a is %d b is %d and add of both is %d "%(a,b,c))

# #OPERATORS

In [ ]:
1) Arithmatic Operator

+  >> Addition Operator
-  >> Substraction Operator
*  >> Multiplication Operator
/ >> Division Operator
// >> Floor Division Operator
% >> (Modulus) Modulo operator
** >> Exponent
() >> Paranthesis     #BODMAS

In [ ]:
2) Comparison Operator   (Output of comparison operator is always in boolean,True/False)

== 
!=
>
<
>=
<=

In [8]:
a=5 
b=10

print(a<b)
print(a>b)
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)

True
False
False
True
True
False

In [ ]:
3) Logical Operator   (Input and output are in boolean)

AND 
OR
not

AND
0 0  >>0
0 1  >>0
1 0  >>0
1 1  >>1

OR 
0 0  >>0
0 1  >>1
1 0  >>1
1 1  >>1

NOT
0  >>1
1  >>0

X-OR
0 0  >>0
0 1  >>1
1 0  >>1
1 1  >>0

In [9]:
a= True
b= True

print(a and b)

True

In [10]:
a= True
b= False

print(a and b)

False

In [11]:
a= True
b= True

print(a or b)

True

In [13]:
a= True
b= False

print(a or b)

True

In [ ]:
4. Assingment Operator

a = a + 1 >> a + = 1
a = a - 1    >> a-= 1
a = a * 5    >> a * = 5
a = a / 10   >> a/ = 10
a = a // 6   >>  a // = 6
a = a % 2   >> a % = 2
a= a**2     >> a **=10

a= a & 5    >> a&=5
a= a| 5     >> a|=5
a = a ^ 6   >> a^=5
>>=
<<=

In [14]:
a=10
a= a+5
print(a)

15

In [15]:
a=10
a+=5
print(a)

15

In [16]:
a=10
a*=5
print(a)

50

In [17]:
a=10
a-=5
print(a)

5

In [18]:
a=10
a/=5
print(a)

2.0

In [19]:
a=10
a%=5
print(a)

0

a=10
a//=3      # 3.3333  (This will perform division and give answer in interger,It will pick nearest smaller number)
print(a)

In [21]:
a=10

print(a**2)

100

In [22]:
b=5
print(b**2)

25

In [24]:
b=5
print(b**4)

625

In [25]:
b=5
print(b**3)

125

In [ ]:
5. Special operators


- Identity Operator
- Membership operator

- Identity Operator ("is" and "is not") - Identity operator will not work with lists, Tuples and sets.
- It will only work with integers and strings
- Output is always in boolean

In [26]:
a=5
b=5

print(a is b)

True

In [27]:
a=5
b=6

print(a is b)

False

In [28]:
a=5
b=5

print(a is not b)

False

In [29]:
a=5
b=6

print(a is not b)

True

In [30]:
s1="python"
s2="python"

print(s1 is s2)

True

In [38]:
s1="python"
print(id(s1))
print(len(s1))
s2="python"
print(id(s2))
print(len(s2))

print(s1 is s2)

3246518562288
6
3246518562288
6
True

In [39]:
s1="python"
print(id(s1))
print(len(s1))
s2=" python"
print(id(s2))
print(len(s2))

print(s1 is s2)

3246518562288
6
3246550487152
7
False

In [34]:
a=[1,2,3]    # Identity operator will not work with lists
b=[1,2,3]

print(a is b)

False

In [41]:
t1=(5,6,7)
t2=(5,6,7)

print(t1 is t2)

False

In [42]:
t1=(5,6,7)
t2=(5,6)

print(t1 is t2)

False

In [ ]:
- Membership Operator-

In [46]:
m= [1,2,3,4,5,6]

n=6

print(n in m)

True

In [47]:
d={1:"a",2:"b",3:"c"}
print(1 in d)

True

In [1]:
d={1:"a",2:"b",3:"c"}
print("a" in d)

False

In [50]:
d={1:"a",2:"b",3:"c"}    # It will only read key values in case of dictionary
print("a" in d)

False

In [ ]:
6. Bitwise Operator:

& >> Bitwise AND
| >> Bitwise OR
^ >> Bitwise XOR
>> : Right shift
<< : Left Shift

# 1. Arithmatic Operator:

In [51]:
a=10
b=20
a+b     #int

30

In [52]:
a=10
b=20.52
a+b      #float

30.52

In [53]:
a=10.15
b=20.25
a+b     #float

30.4

In [54]:
a=10.56
b=20
a+b    # float

30.560000000000002

In [56]:
s1="python"
s2="Class"

s1+s2
print(s1+" "+s2)

python Class

In [59]:
s1="python"
s2=" Class"

print(s1+s2,type(s1+s2))

python Class <class 'str'>

In [60]:
10+30+50+86+45

221

In [62]:
list1=[4,5,6,7]
list2=[25,26,27,28]

print(list1+list2,type(list1+list2))

[4, 5, 6, 7, 25, 26, 27, 28] <class 'list'>

In [6]:
a="100"
b=" 200"

print( a + b ,type(a+b))

100 200 <class 'str'>

In [64]:
a="100"
b=" 200"

print(a+b,type(a+b))

100 200 <class 'str'>

In [65]:
a="50"
b=40

a+b

TypeError: can only concatenate str (not "int") to str

In [66]:
a=50
b=40

print(a-b)

10

In [67]:
a="50"
b=40

print(a-b)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [68]:
a="50"  # Substraction operation will not work on string
b="40"

print(a-b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [69]:
a="50"  
b="40"

print(int(a)-int(b))   # Explicit type conversion

10

In [71]:
x=12.5
y=5.5

print(x-y,type(x-y))

7.0 <class 'float'>

In [72]:
a=5
b=15

print(a*b,type(a*b))

75 <class 'int'>

In [73]:
a=5
b=15.56

print(a*b,type(a*b))

77.8 <class 'float'>

In [74]:
a=5.56
b=15.15

print(a*b,type(a*b))

84.234 <class 'float'>

In [77]:
string1="python"
string1*5

'pythonpythonpythonpythonpython'

In [78]:
string1=" python"
string1*5

' python python python python python'

In [79]:
print("*" *100)

****************************************************************************************************

In [80]:
print("+" *50)

++++++++++++++++++++++++++++++++++++++++++++++++++

# Enumerate():

In [82]:
p1="python"

for index,value in enumerate(p1):
    print(f"The place Index is {index} for character {value}")

The place Index is 0 for character p
The place Index is 1 for character y
The place Index is 2 for character t
The place Index is 3 for character h
The place Index is 4 for character o
The place Index is 5 for character n

In [12]:
num=[10,20,30,40,50,60,70]
print(len(num),type(num))
for i,val in enumerate(num):
   
    print(i,val)

7 <class 'list'>
0 10
1 20
2 30
3 40
4 50
5 60
6 70

In [5]:
num=[10,20,30,40,50,60,70]
print(type(num))
for i,val in enumerate(num):
    print("Index {0} has value {1}".format(i,val))

<class 'list'>
Index 0 has value 10
Index 1 has value 20
Index 2 has value 30
Index 3 has value 40
Index 4 has value 50
Index 5 has value 60
Index 6 has value 70