# Tuple

In [ ]:
>> Immutable i.e. Can not change once we assign a tuple

In [ ]:
types Of tuple:

In [ ]:
1) Empty Tuple:

In [1]:
t1=()

In [ ]:
2) Tuple of integers:

In [10]:
t1=(1,2,35,6,8,9,45)
t1

(1, 2, 35, 6, 8, 9, 45)

In [ ]:
3) Tuples of different datatypes:

In [11]:
t1=(1,1.2,5+4j,"python",{1,3,5},[1,2,3])

t1

(1, 1.2, (5+4j), 'python', {1, 3, 5}, [1, 2, 3])

In [ ]:
4) Nested Tuple: (Tuple inside tuple)

In [12]:
t1=((1,2,3,4),("python","data"))
t1

((1, 2, 3, 4), ('python', 'data'))

# Indexing And Slicing

In [14]:
tup1=(2,2,3,4,5,6,7,8,9,10,15,16,1,8,10,12,"python","machineLearning")

print(tup1)

(2, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 16, 1, 8, 10, 12, 'python', 'machineLearning')

In [15]:
tup1[4]

5

In [21]:
print(tup1[16])
print(tup1[-2])

python
python

In [16]:
tup1[-1]

'machineLearning'

In [18]:
tup1[-3]

12

In [ ]:
Indexing

positive indexing:  0 1 2 3 4 5 6 7 8 9 10 
negative indexing: -8 -7 -6 -5 -4 -3 -2 -1

# Slicing:

In [ ]:
tuple[start_index:End_index:Step_size]

>> Start_index>> Included
>> End_index >> Excluded

In [23]:
tup1=(2,2,3,4,5,6,7,8,9,10,15,16,1,8,10,12,"python","machineLearning")
print(tup1)

(2, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 16, 1, 8, 10, 12, 'python', 'machineLearning')

In [24]:
tup1[0:5]    # (2,2,3,4,5)

(2, 2, 3, 4, 5)

In [26]:
tup1[2:10:2]

(3, 5, 7, 9)

In [27]:
tup1[2:10:3]

(3, 6, 9)

In [28]:
tup1[2:10:-1]

()

In [29]:
tup1[10:2:-1]

(15, 10, 9, 8, 7, 6, 5, 4)

In [31]:
tuple1=(2,3,40,5.56,8.91,"python")

In [32]:
print(tuple1[1:4])
print(tuple1[-5:-2])

print(tuple1[1:-2])

print(tuple1[-5:4])

(3, 40, 5.56)
(3, 40, 5.56)
(3, 40, 5.56)
(3, 40, 5.56)

In [ ]:
Accessing elements in Tuple:

In [33]:
tuple1=(2,3,40,5.56,8.91,"python")

for i in tuple1:
    print("Happy Diwali")

Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali
Happy Diwali

In [4]:
tuple1=(2,3,40,5.56,8.91,"python")

for i in tuple1:
    print(i)

2
3
40
5.56
8.91
python

In [35]:
tuple1=(2,3,40,5.56,8.91,"python")

for i in tuple1:
    print(f"i=={i}")

i==2
i==3
i==40
i==5.56
i==8.91
i==python

In [37]:
tuple1=(2,3,40,5.56,8.91,"python")

for i in tuple1:
    print("Happy Diwali with iPhone == {}".format(i))

Happy Diwali with iPhone == 2
Happy Diwali with iPhone == 3
Happy Diwali with iPhone == 40
Happy Diwali with iPhone == 5.56
Happy Diwali with iPhone == 8.91
Happy Diwali with iPhone == python

In [38]:
tuple1=(2,3,40,5.56,8.91,"python")

for index,value in enumerate(tuple1):
    print(index,value)

0 2
1 3
2 40
3 5.56
4 8.91
5 python

In [39]:
tuple1=(2,3,40,5.56,8.91,"python")

for index,value in enumerate(tuple1):
    print(index)

0
1
2
3
4
5

In [40]:
tuple1=(2,3,40,5.56,8.91,"python")

for index,value in enumerate(tuple1):
    print(value)

2
3
40
5.56
8.91
python

In [41]:
tuple1=(2,3,40,5.56,8.91,"python")

for index,value in enumerate(tuple1):
    print(f"index value is {index}")

index value is 0
index value is 1
index value is 2
index value is 3
index value is 4
index value is 5

In [42]:
tuple1=(2,3,40,5.56,8.91,"python")

for index,value in enumerate(tuple1):
    print(f" value is {value}")

 value is 2
 value is 3
 value is 40
 value is 5.56
 value is 8.91
 value is python

In [43]:
tuple1=(2,3,40,5.56,8.91,"python")

for index,value in enumerate(tuple1):
    print(f" value=={value} is present at index position == {index}")

 value==2 is present at index position == 0
 value==3 is present at index position == 1
 value==40 is present at index position == 2
 value==5.56 is present at index position == 3
 value==8.91 is present at index position == 4
 value==python is present at index position == 5

In [44]:
tuple1=(2,3,40,5.56,8.91,"python")

for index,value in enumerate(tuple1):
    print(" value=={} is present at index position == {}".format(value,index))

 value==2 is present at index position == 0
 value==3 is present at index position == 1
 value==40 is present at index position == 2
 value==5.56 is present at index position == 3
 value==8.91 is present at index position == 4
 value==python is present at index position == 5

In [ ]:
>>How to create a Tuple:

In [45]:
x=(1,2,3,5)
x

(1, 2, 3, 5)

In [46]:
type(x)

tuple

In [47]:
a=5
b=6

x=a,b

x

(5, 6)

In [48]:
type(x)

tuple

In [50]:
tup1=(5)

type(tup1)

int

In [51]:
tup1=("python")

type(tup1)

str

In [52]:
tup1=(5,)

type(tup1)

tuple

In [53]:
tup1=("python",)

type(tup1)

tuple

In [ ]:
>> Python Type Casting:

In [55]:
list1=[1,2,3,4,5,6]

tup1=tuple(list1)

tup1

(1, 2, 3, 4, 5, 6)

In [56]:
x=(1,2,3,4,5)

x[2]=600
x

TypeError: 'tuple' object does not support item assignment

In [57]:
x=(1,2,3,4,5)
y=list(x)
y[2]=600

x=tuple(y)
x

(1, 2, 600, 4, 5)

In [59]:
x=(1,2,3,4,5)
y=list(x)
y.insert(2,600)

x=tuple(y)
x

(1, 2, 600, 3, 4, 5)

In [60]:
x=(1,2,3,4,5)
y=list(x)
y.append(600)

x=tuple(y)
x

(1, 2, 3, 4, 5, 600)

In [ ]:
>> Concatination:

In [61]:
t1=(1,2,3,4,5)

t2=(8,9,1,0,11,12)

t3=t1+t2

t3

(1, 2, 3, 4, 5, 8, 9, 1, 0, 11, 12)

In [ ]:
>> Changing of Tuple:

In [6]:
tup1=(1,2,3,4,5,6,[])

tup1[6]="python"

TypeError: 'tuple' object does not support item assignment

In [64]:
tup1=(1,2,3,4,5,6,[1,2,3,"python"])

tup1[6][3]="Java"

tup1

(1, 2, 3, 4, 5, 6, [1, 2, 3, 'Java'])

# Tuple Function:

In [ ]:
>>
1) index()
2) count()

>> Built In Functions

3) sorted()
4) reversed()
5) max()
6) min()
7) sum()

In [ ]:
1. index()

In [ ]:
tuple.index(value)

In [66]:
tup1=(10,20,30,40,50,60,"python")

tup1.index(30)

2

In [67]:
tup1.index("python")

6

In [68]:
tup1.index("data")

ValueError: tuple.index(x): x not in tuple

In [69]:
tup1=(10,20,30,40,50,60,70,80,90,20,80,20,20,20)

list_2=[]

for i ,val in enumerate(tup1):
    if val==20:
        list_2.append(i)
print(list_2)

[1, 9, 11, 12, 13]

In [2]:
tup1=(10,20,30,40,50,60,70,80,90,20,80,20,20,20)

index_list=[i for i,val in enumerate(tup1) if val==20]

index_list

[1, 9, 11, 12, 13]

In [73]:
num=20

index_list=[i for i,val in enumerate(tup1) if val==num]

index_list

[1, 9, 11, 12, 13]

In [75]:
num=40

index_list=[i for i,val in enumerate(tup1) if val==num]

index_list

[3]

In [76]:
num=int(input("Enter the number:"))

index_list=[i for i,val in enumerate(tup1) if val==num]

index_list

Enter the number:50

[4]

In [ ]:
2. Count():

In [ ]:
Tuple.count(value)

In [81]:
tup1=(10,20,30,40,50,60,70,80,90,20,80,20,20,20,"python","data","python")
tup1.count(20)

5

In [79]:
tup1.count(50)

1

In [82]:
tup1.count("python")

2

In [ ]:
>> Built In Functions:

In [ ]:
1) sorted:

In [83]:
list1=[1,2,6,89,2]

list2=sorted(list1)

list2

[1, 2, 2, 6, 89]

In [4]:
tup1=(1,2,6,89,2)

tup2=tuple(sorted(tup1))

print(tup2)

(1, 2, 2, 6, 89)

In [88]:
tup1=(1,2,6,89,2)

tup2=tuple(sorted(tup1))
tup3=sorted(tup1)
print(tup2)
print(tup3)

(1, 2, 2, 6, 89)
[1, 2, 2, 6, 89]

In [91]:
tup3=("phy","chem","math","bio","eng")

tup4=sorted(tup3)
tup5=tuple(sorted(tup3))
print(tup4)
print(tup5)

['bio', 'chem', 'eng', 'math', 'phy']
('bio', 'chem', 'eng', 'math', 'phy')

In [ ]:
2. Reversed():

In [ ]:
reversed_tuple=tuple(reversed(tuple1))

In [5]:
tup3=("phy","chem","math","bio","eng")

tup4=tuple(reversed(tup3))
tup7=reversed(tup3)
print(tup4)
print(tup7)

('eng', 'bio', 'math', 'chem', 'phy')
<reversed object at 0x00000203794670D0>

In [ ]:
3. max()

In [6]:
tup1=(10,20,30,40,50,60,70,80,90,20,80,20,20,20)
x=max(tup1)

In [100]:

print("The max value in tuple is:",x)
print(f"The max value in tuple is:{x}")
print("The max value in tuple is:{}".format(x))
print("The max value in tuple is:%d"%(x))

The max value in tuple is: 90
The max value in tuple is:90
The max value in tuple is:90
The max value in tuple is:90

In [7]:
tup1=(10,20,100)

print("Max value element :",max(tup1))

Max value element : 100

In [ ]:
4. min():

In [101]:
min(tup1)

10

In [103]:
y=min(tup1)

In [104]:
print("The min value in tuple is:",y)
print(f"The min value in tuple is:{y}")
print("The min value in tuple is:{}".format(y))
print("The min value in tuple is: %d "%(y))

The min value in tuple is: 10
The min value in tuple is:10
The min value in tuple is:10
The min value in tuple is: 10

In [ ]:
5) sum()

In [105]:
sum(tup1)

610

In [8]:
tup1=(10,20,30)

print("sum of all element:",sum(tup1))

sum of all element: 60

In [ ]:
6) del

In [106]:
tup2=(1,2,3,5,6)

tup2

(1, 2, 3, 5, 6)

In [107]:
del tup2

In [108]:
tup2

NameError: name 'tup2' is not defined

In [ ]:
7) len

In [109]:
tup2=(1,2,3,5,6)

tup2

(1, 2, 3, 5, 6)

In [110]:
len(tup2)

5

In [ ]:
8) copy()

In [111]:
import copy

tup1=(3,4,[10,20,30],3,6)    #copy function will not work with tuple but it will work with list inside tuple need to use deepcopy()
tup2=copy.deepcopy(tup1)

tup1[2][2]="python"

print(tup1)
print(tup2)

In [116]:
tup1=(3,4,[10,20,30],3,6)
tup2=tup1.copy()

tup1[2][2]="data"

print(tup1)
print(tup2)

AttributeError: 'tuple' object has no attribute 'copy'

In [ ]:
Difference bet list& Tuple?

In [135]:
t1=(1,2,3,4,5)
l1=[1,2,3,4,5]
l1.append(500)

l1.insert(5,"data science")
l1
l1.extend([100,200,300])
l1
l1.remove("data science")
l1

[1, 2, 3, 4, 5, 500, 100, 200, 300]

In [136]:
print(t1.__sizeof__())
print(l1.__sizeof__())

64
176

In [140]:
list1=[1,2,3,4]
for i in list1:
    print(i,list1.index(i))

1 0
2 1
3 2
4 3

In [ ]:
enumerate():
print():