### Dictionary

In [ ]:
>> It is a collection of key and value pair.
>> Mutable
>> Ordered/Unordered
>> We can not use indexing and slicing on dictionary
>> Keys value can not be duplicated
>> Values can be duplicated
>> Enclosed in {}
>> Initialize Dictionary by using dict{} or {}


>> python2 >> Unordered

>> python3 python_version <=3.6 >> unordered
           python_version >3.6 >>  ordered
    
>> DataType of keys: 
     Immutables: int,float,complex,str,tuple,frozenset
>> DataType of Values: All datatypes: int,float,complex,str,tuple,frozenset,list,dictionary,set etc.

In [26]:
dict1={1:"a",2:"b",3:[1,2,3],4:{1,2,3,4,5,"python"}}
print(dict1)

dict1["name"]="deepak"
dict1["roll no"]=8
print(dict1)

1 in dict1

{1: 'a', 2: 'b', 3: [1, 2, 3], 4: {1, 2, 3, 4, 5, 'python'}}
{1: 'a', 2: 'b', 3: [1, 2, 3], 4: {1, 2, 3, 4, 5, 'python'}, 'name': 'deepak', 'roll no': 8}

True

In [14]:
dict1[1]

'a'

In [4]:
dict1[2]

'b'

In [11]:
dict1[3]

[1, 2, 3]

In [13]:
dict1[4]

{1, 2, 3, 4, 5, 'python'}

In [15]:
d1={"a":97,"b":98,"c":99}
d1

{'a': 97, 'b': 98, 'c': 99}

In [16]:
d1["a"]

97

In [17]:
d1["b"]

98

In [18]:
d1["C"]

KeyError: 'C'

In [19]:
d1={"a":97,"b":98,"c":99,"z":[122,123,124]}
d1

{'a': 97, 'b': 98, 'c': 99, 'z': [122, 123, 124]}

In [20]:
d1["z"]

[122, 123, 124]

In [21]:
len(d1)

4

In [23]:
print(d1,"lenght of dict is:",len(d1))

{'a': 97, 'b': 98, 'c': 99, 'z': [122, 123, 124]} lenght of dict is: 4

### Dictionary Functions:

In [25]:
dict1={"A":100,"B":200,"C":300,"D":400,"E":500}
dict1["A"]

100

In [26]:
dict1["b"]

KeyError: 'b'

In [27]:
dict1["B"]

200

In [28]:
dict1={"A":100,"B":200,"C":300,"D":400,"E":500}

"B" in dict1

True

In [29]:
"b" in dict1

False

In [30]:
"b" not in dict1

True

In [31]:
dict1["C"]

300

# get():

In [ ]:
1. get():
    
>> syntax:
    Dict.get("key")

In [32]:
dict1={"A":100,"B":200,"C":100,"D":400,"E":500}
dict1

{'A': 100, 'B': 200, 'C': 100, 'D': 400, 'E': 500}

In [42]:
# dict1={"A":900,"A":100,"B":200,"A":300,"A":1200,"D":400,"E":500}
# dict1

{'A': 1200, 'B': 200, 'D': 400, 'E': 500}

In [27]:
dict1={"A":100,"B":200,"C":100,"D":400,"E":500}
dict1.keys()

dict_keys(['A', 'B', 'C', 'D', 'E'])

In [44]:
dict1.get("D")

400

In [45]:
dict1.get("E")

500

In [51]:
dict1.get("z")

In [49]:
dict1["z"]

KeyError: 'z'

# 2.keys

In [55]:
dict1={"A":100,"B":200,"C":100,"D":400,"E":500}
x=dict1.keys()
print(type(x))
x

<class 'dict_keys'>

dict_keys(['A', 'B', 'C', 'D', 'E'])

In [53]:
for key in dict1.keys():
    print(key)

A
B
C
D
E

In [56]:
employe_data={"Name":"Virat_Kohli",
             "Age":32,
             "Designation":"Captain",
             "Salary":50000}

employe_data

{'Name': 'Virat_Kohli', 'Age': 32, 'Designation': 'Captain', 'Salary': 50000}

In [57]:
len(employe_data)

4

In [58]:
employe_data.get("Designation")

'Captain'

In [59]:
employe_data["Designation"]

'Captain'

In [60]:
for key in employe_data.keys():
    print("Key is :",key)
    print("*"*40)

Key is : Name
****************************************
Key is : Age
****************************************
Key is : Designation
****************************************
Key is : Salary
****************************************

In [61]:
for key in employe_data.keys():
    print("Key is :",key)
    print("Value is:",employe_data[key])
    print("*"*40)

Key is : Name
Value is: Virat_Kohli
****************************************
Key is : Age
Value is: 32
****************************************
Key is : Designation
Value is: Captain
****************************************
Key is : Salary
Value is: 50000
****************************************

# 3.values()

In [ ]:
Dictionary.values()

In [9]:
employe_data={"Name":"Virat_Kohli",
             "Age":32,
             "Designation":"Captain",
             "Salary":50000}

employe_data

employe_data.keys()

dict_keys(['Name', 'Age', 'Designation', 'Salary'])

In [7]:
employe_data.values()

dict_values(['Virat_Kohli', 32, 'Captain', 50000])

In [64]:
for values in employe_data.values():
    print("value is:",values)
    print("*"*40)

value is: Virat_Kohli
****************************************
value is: 32
****************************************
value is: Captain
****************************************
value is: 50000
****************************************

# 4.items()

In [ ]:
Dictionary.items()

In [65]:
employe_data={"Name":"Virat_Kohli",
             "Age":32,
             "Designation":"Captain",
             "Salary":50000}

employe_data

{'Name': 'Virat_Kohli', 'Age': 32, 'Designation': 'Captain', 'Salary': 50000}

In [66]:
employe_data.items()

dict_items([('Name', 'Virat_Kohli'), ('Age', 32), ('Designation', 'Captain'), ('Salary', 50000)])

In [67]:
data=([('Name', 'Virat_Kohli'), ('Age', 32), ('Designation', 'Captain'), ('Salary', 50000)])
data

[('Name', 'Virat_Kohli'),
 ('Age', 32),
 ('Designation', 'Captain'),
 ('Salary', 50000)]

In [68]:
for i in data:
    print(i)

('Name', 'Virat_Kohli')
('Age', 32)
('Designation', 'Captain')
('Salary', 50000)

In [69]:
for i in data:
    print(i)
    print("*"*40)

('Name', 'Virat_Kohli')
****************************************
('Age', 32)
****************************************
('Designation', 'Captain')
****************************************
('Salary', 50000)
****************************************

In [71]:
a,b=("Name","Sagar")
a

'Name'

In [72]:
b

'Sagar'

In [ ]:
short_hand_if-else:

In [74]:
n=10
a=5
b=10

b if n>5 else a

10

In [75]:
n=3
a=5
b=10

b if n>5 else a

5

In [77]:
data=[('Name', 'Virat_Kohli'),
 ('Age', 32),
 ('Designation', 'Captain'),
 ('Salary', 50000)]
data

[('Name', 'Virat_Kohli'),
 ('Age', 32),
 ('Designation', 'Captain'),
 ('Salary', 50000)]

In [78]:
for k,v in data:
    print(k,v)
    print("*"*40)

Name Virat_Kohli
****************************************
Age 32
****************************************
Designation Captain
****************************************
Salary 50000
****************************************

In [79]:
for key, values in employe_data.items():
    print("key is==",key ,"and value is:",values)
    print("*"*40)

key is== Name and value is: Virat_Kohli
****************************************
key is== Age and value is: 32
****************************************
key is== Designation and value is: Captain
****************************************
key is== Salary and value is: 50000
****************************************

In [ ]:
5.update():
    
>>Syntax:
    dictionary.update("key":"updated_value")

In [ ]:
employe_data={"Name":"Virat_Kohli",
             "Age":32,
             "Designation":"Captain",
             "Salary":50000}

employe_data

In [81]:
employe_data["Age"]=30
employe_data

{'Name': 'Virat_Kohli', 'Age': 30, 'Designation': 'Captain', 'Salary': 50000}

In [82]:
employe_data["Salary"]=80000
employe_data

{'Name': 'Virat_Kohli', 'Age': 30, 'Designation': 'Captain', 'Salary': 80000}

In [83]:
employe_data.update({"Salary":"1200000"})
employe_data

{'Name': 'Virat_Kohli',
 'Age': 30,
 'Designation': 'Captain',
 'Salary': '1200000'}

In [84]:
employe_data.update({"Designation":"Vice-Captain"})
employe_data

{'Name': 'Virat_Kohli',
 'Age': 30,
 'Designation': 'Vice-Captain',
 'Salary': '1200000'}

In [85]:
employe_data

{'Name': 'Virat_Kohli',
 'Age': 30,
 'Designation': 'Vice-Captain',
 'Salary': '1200000'}

In [86]:
employe_data.update({"city":"Pune"})

In [87]:
employe_data

{'Name': 'Virat_Kohli',
 'Age': 30,
 'Designation': 'Vice-Captain',
 'Salary': '1200000',
 'city': 'Pune'}

In [89]:
x={}
x

{}

In [91]:
x.update({"A":"Apple"})
x

{'A': 'Apple'}

In [92]:
x.update({"B":"Ball","C":"Cat"})
x

{'A': 'Apple', 'B': 'Ball', 'C': 'Cat'}

In [93]:
x.update({"A":"Ant"})
x

{'A': 'Ant', 'B': 'Ball', 'C': 'Cat'}