In [ ]:
Set>> 
>> Mutable
>> Unordered
>> No Duplicates
>> Can not store mutable values
>> Can not use Indexing and Slicing

In [ ]:
>>Set Functions

In [ ]:
>> Addition fuctions
1) add()
2)update()

>> Deletion Function

3) remove()
4) discard()
5) pop()
6) clear()

# Deletion Functions

In [ ]:
2)discard():
Syntax:
    set.discard(value)
    
>> Return original set if item is not present in the set.

In [2]:
s1={"pune","mumbai","chennai","banglore","mysore"}
s1

{'banglore', 'chennai', 'mumbai', 'mysore', 'pune'}

In [1]:
s4={5,4,3,2,1}
s4.discard(1)
s4

{2, 3, 4, 5}

In [3]:
s1.discard("pune")
s1

{'banglore', 'chennai', 'mumbai', 'mysore'}

In [4]:
s1.discard("pune")
s1

{'banglore', 'chennai', 'mumbai', 'mysore'}

In [5]:
s1.remove("pune")
s1

KeyError: 'pune'

In [6]:
s2={"pune","mumbai","chennai","banglore","mysore"}
s2.discard("delhi")
s2

{'banglore', 'chennai', 'mumbai', 'mysore', 'pune'}

In [7]:
s2.remove("delhi")
s2

KeyError: 'delhi'

In [8]:
s1={1,2,3,5.65,6+5j}
s1

{(6+5j), 1, 2, 3, 5.65}

In [9]:
s1.discard(3)
s1

{(6+5j), 1, 2, 5.65}

In [10]:
s1.discard(10)
s1

{(6+5j), 1, 2, 5.65}

In [11]:
s1.remove(10)
s1

KeyError: 10

In [ ]:
3) pop(): This function removes any random item from set.
    This will return you the poped value if you store it in the form of variable.
>> syntax:
    set.pop()

In [12]:
s2={"pune","mumbai","chennai","banglore","mysore"}
s2.pop()
s2

{'banglore', 'chennai', 'mumbai', 'mysore'}

In [2]:
s4={3,2,1,5}
s4.pop()
s4

{2, 3, 5}

In [13]:
s2

{'banglore', 'chennai', 'mumbai', 'mysore'}

In [14]:
a=s2.pop()
a

'banglore'

In [15]:
s2

{'chennai', 'mumbai', 'mysore'}

In [16]:
b=s2.pop()
b

'mysore'

In [17]:
s2

{'chennai', 'mumbai'}

In [18]:
c=s2.pop()
c

'chennai'

In [19]:
s2

{'mumbai'}

In [20]:
s2.pop()
s2

set()

In [21]:
s3={2,3,56,45,56.58,6+4j}
s3

{(6+4j), 2, 3, 45, 56, 56.58}

In [23]:
x=s3.pop()
print(x)
print(s3)

3
{45, (6+4j), 56, 56.58}

In [ ]:
4) clear():
    >> This function removes everything from set.
    
>> syntax:
    set.clear()
    
    >> Return you empty set>>set()

In [24]:
s4={"pune","mumbai","chennai","banglore","mysore"}
s4

{'banglore', 'chennai', 'mumbai', 'mysore', 'pune'}

In [26]:
s4.clear()
s4

set()

In [27]:
s5={1,2,3,4,5}
s5.clear()
s5

set()

In [ ]:
>> Set Operations:
    
1) Union():
2) Intersection():
3) Intersection_update():
4) difference():
5) difference_update():
6) symmetric_diference():
7) symmetric_diference_update():
8) issubset():
9) issuperset()
10) isdisjoint()

In [ ]:
1) set union():
    >> This method will return the set with all the elements from both the sets.
Syntax:
    set.union(iterable)
    >> Iterables=list,tuple,set

In [29]:
s1={3,4,5,6,7,3,5,4}
s2={10,20,30,40,50}

new_set=s1.union(s2)
print("new set=",new_set)

s1.update(s2)
print(s1)

new set= {3, 4, 5, 6, 7, 40, 10, 50, 20, 30}
{3, 4, 5, 6, 7, 40, 10, 50, 20, 30}

In [6]:
s1={3,2,1}
s2={4,6,5}

s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [32]:
s1={1,2,3,4}
s2={10,20,30,40,50}
s3={"pune","mumbai","delhi"}

s1.update(s2,s3)
print(s1)
print(len(s1))

{1, 2, 3, 4, 'pune', 40, 10, 'mumbai', 50, 20, 'delhi', 30}
12

In [34]:
s1={1,2,3,4}
s2={10,20,30,40,50}
s3={"pune","mumbai","delhi"}

a=s1.union(s2,s3)     # Operation 
print(a)
print(len(a))

{1, 2, 3, 4, 'pune', 40, 10, 'mumbai', 50, 20, 'delhi', 30}
12

In [35]:
list1=[1,2,3]
list2=[5,6,7]

s1=set(list1).union(list2)
s1

{1, 2, 3, 5, 6, 7}

In [36]:
set1={10,20,30,40}

tup1=(45,55,65,75)

set2= set1.union(tup1)
set2

{10, 20, 30, 40, 45, 55, 65, 75}

In [37]:
set1={10,20,30,40}

tup1=(45,55,65,75,55,55,55)

set2= set1.union(tup1)
set2

{10, 20, 30, 40, 45, 55, 65, 75}

In [ ]:
>> |

In [38]:
set1={10,20,30,40}

set2={45,55,65,75,55,55,55}
print(set1 | set2)

{65, 40, 10, 75, 45, 20, 55, 30}

In [40]:
2) intersection():
   >> This operation will return commomn elements from both the sets.
   >> Operator is &

In [ ]:
set.intersection(iterable)
>> iterables=list,tuple,set

In [42]:
l1=[1,2,3,4,5,6]
l2=[4,5,6,7,8,9]

l3=[i for i in l1 if i in l2]
l3

[4, 5, 6]

In [44]:
for i in l1:
    if i in l2:
        print(i,end=" ")

4 5 6

In [45]:
l3=[]
for i in l1:
    if i in l2:
        l3.append(i)
print(l3)

[4, 5, 6]

In [47]:
l1=[1,2,3,4,5,6]
l2=[4,5,6,7,8,9]

s1=set(l1)
s2=set(l2)

result=s1.intersection(s2)

print(result)

b=list(result)
b

{4, 5, 6}

[4, 5, 6]

In [48]:
l1=[1,2,3,4,5,6]
l2=[4,5,6,7,8,9]

s1=set(l1)
#s2=set(l2)

result=s1.intersection(l2)

print(result)

b=list(result)
b

{4, 5, 6}

[4, 5, 6]

In [50]:
list1=[1,2,3,4,5]
list2=[4,5,6,7]
list3=[8,9,10,11,12,4]

s1=set(list1)

new_set=s1.intersection(list2,list3)

new_set

{4}

In [ ]:
3) intersection_update():
    >> We cant assign variable in this method.

In [54]:
s1={2,3,7,8,9,10}
s2={4,5,6,7,8}

s1.intersection_update(s2)      #update=chamge will happen in same set
print(s1)
print(s2)

{8, 7}
{4, 5, 6, 7, 8}

In [58]:
# s1={2,3,7,8,9,10,10,12}
# s2={4,5,6,7,8}

# x=s1.intersection_update(s2)      #update=chamge will happen in same set
# print(s1)
# print(s2)
# print(x)

In [59]:
s1={2,3,7,8,9,10}
s2={4,5,6,7,8}

s2.intersection_update(s1)      #update=chamge will happen in same set
print(s1)
print(s2)

{2, 3, 7, 8, 9, 10}
{8, 7}

In [60]:
set1={2,3,4,5,67,8,9}
set2={4,5,6,7}

x=set2.intersection_update(set1)

print("set1=",set1)   #{2,3,4,5,67,8,9}
print("set2=",set2)   #{4,5}
print(x)              #None

set1= {2, 67, 3, 4, 5, 8, 9}
set2= {4, 5}
None

In [64]:
set1={2,3,4,5,67,8,9}
set2={4,5,6,7}
x = set1 & set2
print(x)

{4, 5}

In [65]:
print(set1 & set2)

{4, 5}

In [ ]:
3) difference():
    >> It will give difference of set 
    
syntax:
    set1.difference(set2)
    
>> Operator is="-"

In [69]:
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}

unique_values=s1.difference(s2)

print(unique_values)

new_unique_values=s2.difference(s1)

print(new_unique_values)

{1, 2, 3}
{8, 9, 7}

In [8]:
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}

s1.difference(s2)
s2.difference(s1)

{7, 8, 9}

In [72]:
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}

x= s1-s2
y= s2-s1
print(x)
print(y)

print(s1-s2)
print(s2-s1)

{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}

In [ ]:
4) difference_update:

In [11]:
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}

s2.difference_update(s1)

print(s2)
print(s1)

{7, 8, 9}
{1, 2, 3, 4, 5, 6}

In [74]:
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}

x=s2.difference_update(s1)

print(s2)
print(s1)
print(x)

{7, 8, 9}
{1, 2, 3, 4, 5, 6}
None

In [76]:
s1={1,2,3,4,5,6,10}
s2={4,5,6,7,8,9}
s3={10,20,30,4,5,60}

s3.difference(s1,s2)

{20, 30, 60}

In [ ]:
5) Symmetric_diffence:
>>  (s1 union s2)-(s1 intersection s2)

In [77]:
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}

s1.symmetric_difference(s2)

{1, 2, 3, 7, 8, 9}

In [79]:
s3={"pune","mumbai"}
s4={"pune","delhi"}

x=s3.symmetric_difference(s4)
x

{'delhi', 'mumbai'}

In [ ]:
6) Symmetric_diffence_update():

In [82]:
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}

s1.symmetric_difference_update(s2)
s1

{1, 2, 3, 7, 8, 9}

In [83]:
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}

x=s1.symmetric_difference_update(s2)
print(s1)
print(x)

{1, 2, 3, 7, 8, 9}
None

In [ ]:
6) issubset():

In [ ]:
syntax:
    set1.issubset(set2)
    >> True/False

In [84]:
set1={2,3,8,7,9,10}

set2={3,7,8}

set2.issubset(set1)

True

In [87]:
set1={2,3,8,7,9,10}

set2={3,7,8}

x=set2.issubset(set1)

print(x)
set1
set2

True

{3, 7, 8}

In [88]:
set2={1,2,3,4,5}
set3={1,2,3,4,5}

set3.issubset(set2)

True

In [89]:
set2={1,2,3,4,5}
set3={1,2,3,4,5,6}

set3.issubset(set2)

False

In [ ]:
7) issuperset():

In [ ]:
set1.issuperset(set2)

>> True/False

In [90]:
set2={1,2,3,4,5,6,7,8,9,10}
set3={1,2,3,4,5,6}

set2.issuperset(set3)

True

In [91]:
set2={1,2,3,4,5,6,7,8,9,10}
set3={1,2,3,4,5,6}

set3.issuperset(set2)

False

In [ ]:
8. isdisjoint()

In [92]:
set1={2,3,7,8,9,10}
set2={3,9,7,20,40,50}

set1.intersection(set2)

{3, 7, 9}

In [93]:
set1.isdisjoint(set2)

False

In [94]:
s1={1,2,3}
s2={4,5,6}

s1.isdisjoint(s2)

True

In [13]:
s1={1,2}
s2={4,5,6,2}

s1.isdisjoint(s2)

False

In [97]:
s2={"pune","mumbai"}

s3={"chennai","banglore"}

print(s2.isdisjoint(s3))

s2.intersection(s3)

True

set()