## Dictionary

In [ ]:
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values:

>> dict1={key:value}

### Dictionry Functions:

In [ ]:
>> 
1. get()            :- Returns the value of the specified key
2. keys()           :- Returns a list containing the dictionary's keys
3. values()         :- Returns a list of all the values in the dictionary
4. items()          :- Returns a list containing a tuple for each key value pair


5.update()          :- Updates the dictionary with the specified key-value pairs
6.pop()             :- Removes the element with the specified key
7.popitem()         :- Removes the last inserted key-value pair
8.clear()           :- Removes all the elements from the dictionary

9.fromkeys()        :- Returns a dictionary with the specified keys and value
10.setdefault()     :- Returns the value of the specified key. 
                               If the key does not exist: insert the key, with the specified value
11.copy()           :- Returns a copy of the dictionary


Dictionary Comprehension:
    new_dict={key:value for i in iterable}
    new_dict={key:value for i in iterable if condition==True}

In [1]:
employe_data={"name":"Virat kohli",
             "Age":30,
             "Designation":"data Scientist",
             "salary":70000}

employe_data

{'name': 'Virat kohli',
 'Age': 30,
 'Designation': 'data Scientist',
 'salary': 70000}

# update

In [3]:
employe_data.update({"location":"Banglore"})
employe_data

{'name': 'Virat kohli',
 'Age': 30,
 'Designation': 'data Scientist',
 'salary': 70000,
 'location': 'Banglore'}

In [5]:
employe_data["Hobby"]="Cricket"
employe_data

{'name': 'Virat kohli',
 'Age': 30,
 'Designation': 'data Scientist',
 'salary': 70000,
 'location': 'Banglore',
 'Hobby': 'Cricket'}

In [4]:
list1=[4,5,1,3,8,9]

#cube_dict={4:64,5:125,1:1,3:27..........}

cube_dict={}
for i in list1:
    cube=i**3
    print(i,cube)
    cube_dict.update({i:cube})
    print(cube_dict,type(list1))

4 64
{4: 64} <class 'list'>
5 125
{4: 64, 5: 125} <class 'list'>
1 1
{4: 64, 5: 125, 1: 1} <class 'list'>
3 27
{4: 64, 5: 125, 1: 1, 3: 27} <class 'list'>
8 512
{4: 64, 5: 125, 1: 1, 3: 27, 8: 512} <class 'list'>
9 729
{4: 64, 5: 125, 1: 1, 3: 27, 8: 512, 9: 729} <class 'list'>

In [9]:
list1=[4,5,1,3,8,9,4]

#cube_dict={4:64,5:125,1:1,3:27..........}

cube_dict={}
for i in list1:
    cube=i**3
    print(i,cube)
    cube_dict.update({i:cube})
print(cube_dict)

4 64
5 125
1 1
3 27
8 512
9 729
4 64
{4: 64, 5: 125, 1: 1, 3: 27, 8: 512, 9: 729}

In [8]:
list1=[4,5,1,3,8,9]      #json=key:value

#cube_dict={4:64,5:125,1:1,3:27..........}

cube_dict={}
for i in list1:
    cube=i**3
    #print(i,cube)
    cube_dict.update({i:cube})
print(cube_dict)

{4: 64, 5: 125, 1: 1, 3: 27, 8: 512, 9: 729}

In [10]:
list1=[4,5,1,3,8,9]

#cube_dict={4:64,5:125,1:1,3:27..........}

cube_dict={}
for i in list1:
    #cube=i**3
    #print(i,cube)
    cube_dict.update({i:i**3})
print(cube_dict)

{4: 64, 5: 125, 1: 1, 3: 27, 8: 512, 9: 729}

In [11]:
list2=[5,6,7,8,9,10,11,12,13]

sqr_dict={}

for i in list2:
    sqr_dict.update({i:i**2})
print(sqr_dict)

{5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169}

In [10]:
square_dict= dict()

for i in range(11,21):
    square_dict[i]=i**2
print(square_dict)

{11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [ ]:
9918441120@icici

In [14]:
dict1={"a":20,"b":30}
dict1

{'a': 20, 'b': 30}

In [15]:
dict1["a"]

20

In [17]:
square_dict= dict()

for i in range(11,21):
    square_dict[i]=i**2
print(square_dict)

{11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [ ]:
Ascii:
    A=65 B=66....."Z":90...a=97 b=98

In [ ]:
# {"A":65,"B":66..........}

In [18]:
Ascii_Dict1={}
for i in range(65,91):
    print(i,chr(i))

65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z

In [19]:
Ascii_Dict1={}
for i in range(65,91):
    Ascii_Dict1.update({chr(i):i})
    print(Ascii_Dict1)

{'A': 65}
{'A': 65, 'B': 66}
{'A': 65, 'B': 66, 'C': 67}
{'A': 65, 'B': 66, 'C': 67, 'D': 68}
{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69}
{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70}
{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71}
{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72}
{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73}
{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74}
{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75}
{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76}
{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77}
{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78}
{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79}
{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80}
{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81}
{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82}
{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83}
{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84}
{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85}
{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86}
{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87}
{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88}
{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89}
{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

In [20]:
Ascii_Dict1={}
for i in range(65,91):
    Ascii_Dict1.update({chr(i):i})
print(Ascii_Dict1)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

In [22]:
Ascii_lower={}
for i in range(97,123):
    Ascii_lower.update({chr(i):i})
print(Ascii_lower)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [23]:
Ascii_lower={}
for i in range(97,123):
    Ascii_lower[chr(i)]=i
print(Ascii_lower)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [29]:
list1=["phy","math","chem","bio","eng"]
list2=[91,92,93,94,95]

#result={"phy":91,"math":92}
result={}

for i,sub in enumerate (list1):
    result.update({sub:list2[i]})
print(result)

{'phy': 91, 'math': 92, 'chem': 93, 'bio': 94, 'eng': 95}

In [30]:
result={}
for i in range(len(list1)):
    result.update({list1[i]:list2[i]})
print(result)

{'phy': 91, 'math': 92, 'chem': 93, 'bio': 94, 'eng': 95}

In [31]:
list1=["phy","math","chem","bio","eng"]
list2=[91,92,93,94,95]
result={}

for i,sub_name in enumerate(list1):
    print(i,sub_name,list2[i])

0 phy 91
1 math 92
2 chem 93
3 bio 94
4 eng 95

In [4]:
list1=["phy","math","chem","bio","eng"]
list2=[91,92,93,94,95]
result={}

for i,sub_name in enumerate(list1):
    result.update({sub_name:list2[i]})
    print(result)

{'phy': 91}
{'phy': 91, 'math': 92}
{'phy': 91, 'math': 92, 'chem': 93}
{'phy': 91, 'math': 92, 'chem': 93, 'bio': 94}
{'phy': 91, 'math': 92, 'chem': 93, 'bio': 94, 'eng': 95}

In [33]:
list1=["phy","math","chem","bio","eng"]
list2=[91,92,93,94,95]
result={}

for i,sub_name in enumerate(list1):
    result.update({sub_name:list2[i]})
print(result)

{'phy': 91, 'math': 92, 'chem': 93, 'bio': 94, 'eng': 95}

In [36]:
list1=["phy","math","chem","bio","eng"]
#list2=[91,92,93,94,95]
result={}
index=0

for sub_name in list1:
    result[sub_name]=list2[index]
    index=index+1
print(result)

{'phy': 91, 'math': 92, 'chem': 93, 'bio': 94, 'eng': 95}

In [46]:
s1="ABCDE"
list1=list(s1)
list2=[100,200,300,400,500]
result={}
for i,char in  enumerate(list1):
    result.update({char:list2[i]})
print(result)

{'A': 100, 'B': 200, 'C': 300, 'D': 400, 'E': 500}

### Delete items from Dictionary:

In [ ]:
pop():
    This method removes as item with a given key and return the removed value.

dict.pop(key)

In [47]:
data={"A":100,"B":200,"C":300,"D":400,"E":500}
data

{'A': 100, 'B': 200, 'C': 300, 'D': 400, 'E': 500}

In [48]:
data.pop("B")

200

In [49]:
data

{'A': 100, 'C': 300, 'D': 400, 'E': 500}

In [50]:
a=data.pop("C")
a

300

In [51]:
data

{'A': 100, 'D': 400, 'E': 500}

# data.pop()

In [ ]:
2) popitem():
    This method will remove any return any arbitary key:value pair from dictionary.
    It will delete last element inserted in dict(key:value)
>> dict.popitem()

In [53]:
data={"A":100,"B":200,"C":300,"D":400,"E":500}
data.popitem()

('E', 500)

In [54]:
data

{'A': 100, 'B': 200, 'C': 300, 'D': 400}

In [55]:
data.popitem()

('D', 400)

In [56]:
data.popitem()

('C', 300)

In [ ]:
3) clear()
>> It will delete all elements from dict and give empty dict

dict.clear()

In [57]:
data={"A":100,"B":200,"C":300,"D":400,"E":500}
data.clear()

In [58]:
data

{}

# 4)del keyword:

In [60]:
data={"A":100,"B":200,"C":300,"D":400,"E":500}
data

{'A': 100, 'B': 200, 'C': 300, 'D': 400, 'E': 500}

In [62]:
del data
data

NameError: name 'data' is not defined

In [ ]:
# result.update({i:list2[i]})
# print(result)

### fromkeys()

In [ ]:
dict.fromkeys(iterable,[value])

>> It will create dictionary with same value.
>> Default value is None

In [65]:
x=list("ABCDE")
new_dict=dict.fromkeys(x)
new_dict

{'A': None, 'B': None, 'C': None, 'D': None, 'E': None}

In [66]:
x=list("ABCDE")
new_dict=dict.fromkeys(x,500)
new_dict

{'A': 500, 'B': 500, 'C': 500, 'D': 500, 'E': 500}

In [67]:
x=list("ABCDE")
new_dict=dict.fromkeys(x,[500,400,300,200,100])
new_dict

{'A': [500, 400, 300, 200, 100],
 'B': [500, 400, 300, 200, 100],
 'C': [500, 400, 300, 200, 100],
 'D': [500, 400, 300, 200, 100],
 'E': [500, 400, 300, 200, 100]}

In [68]:
new_dict=dict.fromkeys((2,3,4,5,6),400)
new_dict

{2: 400, 3: 400, 4: 400, 5: 400, 6: 400}

In [69]:
new_dict=dict.fromkeys([2,3,4,5,6],400)
new_dict

{2: 400, 3: 400, 4: 400, 5: 400, 6: 400}

In [70]:
new_dict=dict.fromkeys([2,3,4,5,6],(400,300,200,100))
new_dict

{2: (400, 300, 200, 100),
 3: (400, 300, 200, 100),
 4: (400, 300, 200, 100),
 5: (400, 300, 200, 100),
 6: (400, 300, 200, 100)}

In [71]:
new_dict=dict.fromkeys({2,3,4,5,6},(400,300,200,100))
new_dict

{2: (400, 300, 200, 100),
 3: (400, 300, 200, 100),
 4: (400, 300, 200, 100),
 5: (400, 300, 200, 100),
 6: (400, 300, 200, 100)}

### setdefault()

In [ ]:
Dict.setdefault(key,[val])

>> Default value is None

In [72]:
result={"phy":88,"chem":90,"math":92,"bio":88}

result.setdefault("chem")

90

In [73]:
result.setdefault("python")

In [74]:
result

{'phy': 88, 'chem': 90, 'math': 92, 'bio': 88, 'python': None}

In [75]:
result.setdefault("data",500)

500

In [76]:
result

{'phy': 88, 'chem': 90, 'math': 92, 'bio': 88, 'python': None, 'data': 500}

In [ ]:
result[data]=500
result.update({"data":500})

In [82]:
result.setdefault("math",100)

92

In [83]:
result

{'phy': 88, 'chem': 90, 'math': 92, 'bio': 88, 'python': None, 'data': 500}

In [84]:
result.setdefault("java",50)

50

In [85]:
result

{'phy': 88,
 'chem': 90,
 'math': 92,
 'bio': 88,
 'python': None,
 'data': 500,
 'java': 50}

### Copy()

In [8]:
result={"phy":88,"chem":90,"math":92,"bio":88}

In [6]:
new_result=result.copy()

In [87]:
print(result)
print(new_result)

{'phy': 88, 'chem': 90, 'math': 92, 'bio': 88, 'python': None, 'data': 500, 'java': 50}
{'phy': 88, 'chem': 90, 'math': 92, 'bio': 88, 'python': None, 'data': 500, 'java': 50}

In [9]:
result.update({"eng":70})
print(result)
print(new_result)

{'phy': 88, 'chem': 90, 'math': 92, 'bio': 88, 'eng': 70}
{'phy': 91, 'math': 92, 'chem': 93, 'bio': 94, 'eng': 70}

### Nested Dictionary:

In [ ]:
>> Dictionary as a value of dictionary.

In [93]:
employee_data={"TCS1001":{"name":"rahul",
                         "Age":29,
                         "Company_name":"TCS",
                         "designation":"Data Scientist"}}
print(employee_data)
len(employee_data)

{'TCS1001': {'name': 'rahul', 'Age': 29, 'Company_name': 'TCS', 'designation': 'Data Scientist'}}

1

# Jupyter__Python

In [16]:
employee_data={"TCS1001":{"name":"rahul",
                         "Age":29,
                         "Company_name":"TCS",
                         "designation":"Data Scientist"},
              "TCS1002":{"name":"rohit",
                         "Age":32,
                         "Company_name":"TCS",
                         "designation":"Data Analyst"},
               "TCS1003":{"name":"virat",
                         "Age":29,
                         "Company_name":"TCS",
                         "designation":"Data Scientist"},
               "TCS1004":{"name":"surya_kumar",
                         "Age":29,
                         "Company_name":"TCS",
                         "designation":"Data Scientist"}}
print(employee_data)
len(employee_data)

{'TCS1001': {'name': 'rahul', 'Age': 29, 'Company_name': 'TCS', 'designation': 'Data Scientist'}, 'TCS1002': {'name': 'rohit', 'Age': 32, 'Company_name': 'TCS', 'designation': 'Data Analyst'}, 'TCS1003': {'name': 'virat', 'Age': 29, 'Company_name': 'TCS', 'designation': 'Data Scientist'}, 'TCS1004': {'name': 'surya_kumar', 'Age': 29, 'Company_name': 'TCS', 'designation': 'Data Scientist'}}

4

In [95]:
employee_data["TCS1004"]

{'name': 'surya_kumar',
 'Age': 29,
 'Company_name': 'TCS',
 'designation': 'Data Scientist'}

In [96]:
employee_data["TCS1001"]

{'name': 'rahul',
 'Age': 29,
 'Company_name': 'TCS',
 'designation': 'Data Scientist'}

In [97]:
employee_data["TCS1002"]

{'name': 'rohit',
 'Age': 32,
 'Company_name': 'TCS',
 'designation': 'Data Analyst'}

### Dictionary Comprehension:

In [12]:
list1=[1,2,3,4,5,6,7]

cube_list=[i**3 for i in list1 if i>=3,else i**2]
cube_list

SyntaxError: invalid syntax (2584383427.py, line 3)

In [100]:
cube={}

for i in range(1,11):
    if i >=3:
        cube.update({i:i**3})
print(cube)

{3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [103]:
# dict1={3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}
# cube1=[k:v for k,v in dict1]

In [14]:
# Start with an empty list.
users = []
# Make a new user, and add them to the list.
new_user = {
 'last': 'fermi',
 'first': 'enrico',
 'username': 'efermi',
 }
users.append(new_user)
# Make another new user, and add them as well.
new_user = {
 'last': 'curie',
 'first': 'marie',
 'username': 'mcurie',
 }
users.append(new_user)
# Show all information about each user.
for user_dict in users:
    for k, v in user_dict.items():
        print(k + ": " + v)
print("\n")

last: fermi
first: enrico
username: efermi
last: curie
first: marie
username: mcurie