In [ ]:
Set():

In [ ]:
string: Immutable, Ordered, Duplicates are Allowed, " ",'',"""""",'''''', eg"python"
list:   mutable, ordered, Duplicates are allowed,heretogenous elements allowed,[]
Tuple:  Immutable, Ordered, Duplicates are allowed,()
Set:    Mutable, Unordered, Duplicated are not Allowed, set()

In [ ]:
Set():
    >> Set is an unordered collection of an elements.
    >> Mutable i. e. add,update and delete 
    >> Duplicated are not allowed
    >> Initialization of set is set()
    >> Enclosed in {}
    >> We can add only immutable items to the set data type.
    >> Indexing and slicing is not possible in case of set datatype

In [2]:
set1={1,2,3,4,5}
set1
type(set1)

set

In [3]:
set1[2]

TypeError: 'set' object is not subscriptable

In [2]:
set1={1,2,3,4,5}
for i in set1:
    print(i,end=" ")

1 2 3 4 5

In [6]:
set2={1,5.6,(1,2),"string1",4+5j}
for i in set2:
    print(i)

1
(1, 2)
5.6
(4+5j)
string1

In [7]:
set2={1,5.6,(1,2),"string1",4+5j,[1,2,3]}
set2

TypeError: unhashable type: 'list'

In [8]:
set2={1,5.6,(1,2),"string1",4+5j,{1,2,3}}
set2

TypeError: unhashable type: 'set'

In [10]:
set2={1,5.6,(1,2),"string1",4+5j,{1:"a",2:"b"}}
set2

TypeError: unhashable type: 'dict'

In [12]:
set2={1,5.6,(1,2),"string1",4+5j}
set2

{(1, 2), (4+5j), 1, 5.6, 'string1'}

In [14]:
s1={}
print(s1)
print(type(s1))

{}
<class 'dict'>

In [4]:
s3={}
s3
print(type(s3))

<class 'dict'>

In [15]:
s1=set()
print(s1)
print(type(s1))

set()
<class 'set'>

In [18]:
s1={1,2,3,4,5,6,1,1,2,3,3,3,4,4}
print(s1)
print(len(s1))

{1, 2, 3, 4, 5, 6}
6

In [20]:
s2={3,4,4,5,6,45.65,66.69,6+5j,"data",(1,2,3),4,4,5,5}
print(s2)
print(len(s2))

{66.69, 3, 4, 5, 6, 'data', (1, 2, 3), 45.65, (6+5j)}
9

In [17]:
s1={1,2,3}     >> Mutable
s1.add(4)      >>set.add(value)
s1

{1, 2, 3, 4}

# Type Casting

In [ ]:
list >> Tuple
List >> set

tuple>> list
tuple>> set

set >> list
set>> tuple

In [21]:
x=[1,2,3,4]
y=tuple(x)
y

(1, 2, 3, 4)

In [5]:
list1=[1,2,3,4,5]
x=tuple(list1)
y=set(list1)
print(x)
print(y)

(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}

In [22]:
t1=(1,2,3,4,5)
l1=list(t1)
l1

[1, 2, 3, 4, 5]

In [23]:
x=[1,2,3,4]
y=set(x)
y

{1, 2, 3, 4}

In [24]:
x=[1,2,3,4,4,4,4,4,4]
y=set(x)
y

{1, 2, 3, 4}

In [26]:
s1={2,3,4,5,6,8,9,7,5,5,5,5,5,5}
print(s1)
x=list(s1)
y=tuple(s1)

print(s1)
print(x)
print(y)

{2, 3, 4, 5, 6, 7, 8, 9}
{2, 3, 4, 5, 6, 7, 8, 9}
[2, 3, 4, 5, 6, 7, 8, 9]
(2, 3, 4, 5, 6, 7, 8, 9)

In [27]:
t1=(2,3,4,5,6,8,9,7,5,5,5,5,5,5)

x=list(t1)
y=set(t1)

print(t1)
print(x)
print(y)

(2, 3, 4, 5, 6, 8, 9, 7, 5, 5, 5, 5, 5, 5)
[2, 3, 4, 5, 6, 8, 9, 7, 5, 5, 5, 5, 5, 5]
{2, 3, 4, 5, 6, 7, 8, 9}

# Access set Items:

In [28]:
s1={1,2,3,4,5,6}

s1[2]

TypeError: 'set' object is not subscriptable

In [29]:
for i in s1:
    print(i)

1
2
3
4
5
6

In [30]:
for i in s1:
    print(f"i=={i}")

i==1
i==2
i==3
i==4
i==5
i==6

In [34]:
set3={10,20,"Machine Learning","Pune","Mumbai"}
city="pune"

if city in set3:
    print(f"city name=={city}")
else:
    print("City not present")

City not present

In [33]:
set3={10,20,"Machine Learning","pune","Mumbai"}
city="pune"

if city in set3:
    print(f"city name=={city}")
else:
    ("City not present")

city name==pune

In [35]:
set3={10,20,"Machine Learning","pune","Mumbai"}

for i,val in enumerate(set3):
    print(i,val)

0 10
1 pune
2 Machine Learning
3 20
4 Mumbai

In [37]:
set3={10,20,"Machine Learning","pune","Mumbai","chennai","nagar"}

for i,val in enumerate(set3):
    print(i,val)

0 nagar
1 10
2 pune
3 Machine Learning
4 chennai
5 20
6 Mumbai

# >> Set Function

In [ ]:
>> Addition

1)add()
2)update()

>> Deletion

3)remove()
4)discard()
5)pop()
6) clear()

>> Union() 

>> Intersection()
   Intersection_Update()
    
>> symmetric_difference()
    symmetric_difference_update()
    
>> issuperset()
>> issubset()
>> isadjoint()

In [ ]:
>> Addition Methods:

### 1.Set Functions:

In [ ]:
1) add()

In [ ]:
Used to add only 1 item in set at a time.

syntax:
    set.add(value)

In [38]:
s1={1,2,3,4,5,6}

s1.add(100)
print(s1)

{1, 2, 3, 4, 5, 6, 100}

In [39]:
s1={1,2,3,4,5,6}

s1.add(100,50)
print(s1)

TypeError: add() takes exactly one argument (2 given)

In [40]:
s1={1,2,3,4,5,6}

s1.add("python")
print(s1)

{1, 2, 3, 4, 5, 6, 'python'}

In [41]:
s2={"pune","chennai","delhi","banglore"}

s2.add("Nagar")
s2

{'Nagar', 'banglore', 'chennai', 'delhi', 'pune'}

In [42]:
s2[0]

TypeError: 'set' object is not subscriptable

In [ ]:
2. update()

In [ ]:
>> This function add multiple items to the set.
>> we can update list,tuple and set

syntax:
    set1.update(iterable)

In [44]:
s1={1,23,24,25}
s2={"python","data"}

s1.update(s2)
s1

{1, 23, 24, 25, 'data', 'python'}

In [46]:
s1={1,23,24,25,25,25,25}
s2={"python","data","python",25}

s1.update(s2)
s1

{1, 23, 24, 25, 'data', 'python'}

In [47]:
x={1,2,3,4,5}

y=[10,20,30,40]

x.update(y)
x

{1, 2, 3, 4, 5, 10, 20, 30, 40}

In [54]:
x={1,2,3}

z={1:"a",2:"b"}

x.update(z)
z
x

{1, 2, 3}

In [56]:
s1={1,2,3,4,5}

s2={"python","data"}

s1.update(s2)

s1

{1, 2, 3, 4, 5, 'data', 'python'}

In [57]:
list1=[3,4,5,6,7,8,9]
list2=[10,20,30,40,50]

s1=set(list1)

s1.update(list2)

print(s1)
print(list1)
print(list2)

{3, 4, 5, 6, 7, 8, 9, 10, 40, 50, 20, 30}
[3, 4, 5, 6, 7, 8, 9]
[10, 20, 30, 40, 50]

In [58]:
list1=[3,4,5,6,7,8,9,3,3,3,3,5]
list2=[10,20,30,40,50,50,50]

s1=set(list1)

s1.update(list2)

print(s1)
print(list1)
print(list2)

print(len(s1))
print(len(list1))
print(len(list2))

{3, 4, 5, 6, 7, 8, 9, 10, 40, 50, 20, 30}
[3, 4, 5, 6, 7, 8, 9, 3, 3, 3, 3, 5]
[10, 20, 30, 40, 50, 50, 50]
12
12
7

In [49]:
x={1,2,3,4,5,5,5,5,}

y=[10,20,30,40,40,40,40]

x.update(y)
x

{1, 2, 3, 4, 5, 10, 20, 30, 40}

### Deletion Methods:

In [ ]:
1) remove():
    
    >> This method will remove specific value from set.
Syntax:
    
    set.remove(value)

In [59]:
s2={"pune","chennai","delhi","banglore"}

s2.remove("delhi")
s2

{'banglore', 'chennai', 'pune'}

In [65]:
s2={"pune","chennai","delhi","banglore"}

s2.remove("Delhi")
s2

KeyError: 'Delhi'

In [62]:
s2={"pune","chennai","delhi","banglore"}
city="mumbai"

if city in s2:
    s2.remove(city)
    print("Item deleted")
else:
    print("city not found")

city not found

In [63]:
s2={"pune","chennai","delhi","banglore"}
city="pune"

if city in s2:
    s2.remove(city)
    print("Item deleted")
else:
    print("city not found")
print(s2)

Item deleted
{'chennai', 'banglore', 'delhi'}

In [ ]:
2)Update():
    >>