### Dictionary Comprehension:

In [8]:
list1=[3,4,5,6,7,8,9]

list2=[i for i in list1]

list2

[3, 4, 5, 6, 7, 8, 9]

In [9]:
list1=[3,4,5,6,7,8,9]

list2=[i**2 for i in list1]

list2

[9, 16, 25, 36, 49, 64, 81]

In [10]:
list1=[3,4,5,6,7,8,9]

list2=[100 for i in list1]

list2

[100, 100, 100, 100, 100, 100, 100]

In [11]:
list1=[3,4,5,6,7,8,9]

list2=[i*i for i in list1]

list2

[9, 16, 25, 36, 49, 64, 81]

In [12]:
list1=[3,4,5,6,7,8,9]

list2=[i*5 for i in list1]

list2

[15, 20, 25, 30, 35, 40, 45]

In [13]:
list1=[3,4,5,6,7,8,9]

list2=[i for i,val in enumerate(list1) ]

list2

[0, 1, 2, 3, 4, 5, 6]

In [16]:
list1=[3,4,5,6,7,8,9]

list2=[(i,val)for i,val in enumerate(list1) ]

list2

# 0 3
# 1 4
# 2 5

[(0, 3), (1, 4), (2, 5), (3, 6), (4, 7), (5, 8), (6, 9)]

In [2]:
cube={}

for i in range(1,11):
    cube.update({i:i**3})
print(cube,end=" ")

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [18]:
cube={}

for i in range(1,11):
    cube.update({i:i**3})
print(cube)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [19]:
cube={i:i**3 for i in range(1,11)}
print(cube)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [20]:
d={"a":1,"b":2,"c":3}
for pair in d.items():
    print(pair)

('a', 1)
('b', 2)
('c', 3)

In [21]:
d={"a":1,"b":2,"c":3,"d":4,"e":5}

new_dict={k:v for k,v in d.items() if v>2}

new_dict

{'c': 3, 'd': 4, 'e': 5}

In [22]:
d={"a":1,"b":2,"c":3,"d":4,"e":5}

new_dict={k+"velocity":v*2 for k,v in d.items() if v>2}

print(new_dict)

{'cvelocity': 6, 'dvelocity': 8, 'evelocity': 10}

In [23]:
d={"a":1,"b":2,"c":3,"d":4,"e":5}

new_dict={k+"*"*4:v*2 for k,v in d.items() if v>2}

print(new_dict)

{'c****': 6, 'd****': 8, 'e****': 10}

In [26]:
d={"a":1,"b":2,"c":3,"d":4,"e":5}

new_dict={k+"*"*4:v*2 for k,v in d.items() if v>2 & k==int("c")}

print(new_dict)

TypeError: unsupported operand type(s) for &: 'int' and 'str'

In [28]:
d={"a":1,"b":2,"c":3,"d":4,"e":5}

new_dict={k+"*"*4:v*2 for k,v in d.items() if v>2 and k=="c"}

print(new_dict)

{'c****': 6}

In [32]:
employe_data={"TCS1001": {"Name":"Prashant",
                         "Age":24,
                         "Salary":75000,
                         "Designation":"Data Analyst"},
              "TCS1002": {"Name":"Poonam",
                         "Age":30,
                         "Salary":85000,
                         "Designation":"Data Analyst"},
              "TCS1003": {"Name":"Rahul",
                         "Age":28,
                         "Salary":95000,
                         "Designation":"Data Scientist"},
              "TCS1004": {"Name":"Virat",
                         "Age":30,
                         "Salary":[100000],
                         "Designation":"Sr.Data Scientist"}}
employe_data

{'TCS1001': {'Name': 'Prashant',
  'Age': 24,
  'Salary': 75000,
  'Designation': 'Data Analyst'},
 'TCS1002': {'Name': 'Poonam',
  'Age': 30,
  'Salary': 85000,
  'Designation': 'Data Analyst'},
 'TCS1003': {'Name': 'Rahul',
  'Age': 28,
  'Salary': 95000,
  'Designation': 'Data Scientist'},
 'TCS1004': {'Name': 'Virat',
  'Age': 30,
  'Salary': [100000],
  'Designation': 'Sr.Data Scientist'}}

In [31]:
employe_data['TCS1004']['Salary']

100000

In [34]:
employe_data['TCS1004']['Salary'].append(90000)
employe_data

{'TCS1001': {'Name': 'Prashant',
  'Age': 24,
  'Salary': 75000,
  'Designation': 'Data Analyst'},
 'TCS1002': {'Name': 'Poonam',
  'Age': 30,
  'Salary': 85000,
  'Designation': 'Data Analyst'},
 'TCS1003': {'Name': 'Rahul',
  'Age': 28,
  'Salary': 95000,
  'Designation': 'Data Scientist'},
 'TCS1004': {'Name': 'Virat',
  'Age': 30,
  'Salary': [100000, 90000, 90000],
  'Designation': 'Sr.Data Scientist'}}

In [35]:
employe_data['TCS1004']['Designation'][-1]

't'

In [36]:
employe_data['TCS1004']['Designation'].split()[-1]

'Scientist'

In [38]:
employe_data['TCS1004']['Designation'].split()[-2]

'Sr.Data'

In [43]:
employe_data.get("TCS1003").get("Designation")

'Data Scientist'

In [45]:
employe_data.get("TCS1003").get("Salary")

95000

In [ ]:
#json = where data is present in the form of key:value pair

In [48]:
text="""Machine learning teaches Machine to do what comes naturally to humans: learn from experience. Use MATLAB® to engineer features from your data and fit machine learning models.Interactively explore your data, select features, and train, compare, and assess models by using the Classification Learner and Regression Learner apps."""
text

'Machine learning teaches Machine to do what comes naturally to humans: learn from experience. Use MATLAB® to engineer features from your data and fit machine learning models.Interactively explore your data, select features, and train, compare, and assess models by using the Classification Learner and Regression Learner apps.'

In [ ]:
#{"word":2,"" }

In [50]:
c={}
for i in text.split():
    if i in c:
        c[i]+=1
    else:
        c[i]=1
print(c)
# Why not without split

{'Machine': 2, 'learning': 2, 'teaches': 1, 'to': 3, 'do': 1, 'what': 1, 'comes': 1, 'naturally': 1, 'humans:': 1, 'learn': 1, 'from': 2, 'experience.': 1, 'Use': 1, 'MATLAB®': 1, 'engineer': 1, 'features': 1, 'your': 2, 'data': 1, 'and': 4, 'fit': 1, 'machine': 1, 'models.Interactively': 1, 'explore': 1, 'data,': 1, 'select': 1, 'features,': 1, 'train,': 1, 'compare,': 1, 'assess': 1, 'models': 1, 'by': 1, 'using': 1, 'the': 1, 'Classification': 1, 'Learner': 2, 'Regression': 1, 'apps.': 1}

In [51]:
s1="listen"
s2="listener"
l1=list(s1)
l2=list(s2)
#common character without duplicates

In [53]:
l3=[i for i in l1 if i in l2]
l3

['l', 'i', 's', 't', 'e', 'n']

In [ ]:
se1
set2

print(set1 & set2)

In [ ]:
for i in l1:
    if i in l2:
        print(i)

In [ ]:
s1="banana"
#s2="b1a3n2"