In [ ]:
Lambda Functions:
>> Annonymous Function i.e. a function without any name.
>> Keyword lambda is used to define lambda function
>> lambda is reseved keyword in python

>> Syntax:
    
    lambda Arguments:Expression
    
    double= lambda x: x*2
    
>> We can have many Arguments but only one expression for them.
>> This expression evaluates and returns the results.

In [1]:
double= lambda x: x*2

In [13]:
double(5)

10

In [14]:
double(10)

20

In [3]:
def cube(n):
    return n**3

In [4]:
cube(5)

125

In [17]:
cube(3)

27

In [5]:
(lambda x:x**3)(4)

64

In [19]:
x=lambda x:x**3

In [20]:
x(3)

27

In [21]:
sqr= lambda x: x**2

In [22]:
sqr(3)

9

In [23]:
sqr(3,2)

TypeError: <lambda>() takes 1 positional argument but 2 were given

In [24]:
sqr()

TypeError: <lambda>() missing 1 required positional argument: 'x'

In [25]:
def multiplication(a,b,c):
    mul=a*b*c
    return mul

In [26]:
multiplication(4,5,6)

120

In [28]:
multiply= lambda a,b,c: a*b*c

In [29]:
multiply(4,5,6)

120

In [30]:
(lambda a,b,c: a*b*c)(2,2,2)    # Annonamous function

8

In [31]:
x= lambda a: a+1000

In [33]:
print(x(100))
print(x(10))
print(x(20))
print(x(30))

1100
1010
1020
1030

In [7]:
(lambda string: string.upper())('python')

'PYTHON'

In [37]:
print(x('python'))
print(x('java'))
print(x('data'))
print(x('Science_1234'))

PYTHON
JAVA
DATA
SCIENCE_1234

In [38]:
def average(a,b,c):
    print(f"a=={a},b=={b},c=={c}")
    avg=(a+b+c)/3
    return avg

In [39]:
average(4,5,6)

a==4,b==5,c==6

5.0

In [40]:
avg= lambda a,b,c: (a+b+c)/3

In [41]:
avg(4,5,6)

5.0

In [9]:
(lambda a,b,c,d,:(a+b+c+d)/4)(1,2,3,4)

2.5

In [43]:
avg(1,2,3,4,5,6)

3.5

In [47]:
avg= lambda a,b,c,d,e,f:(a+b+c+d+e)/6

print(avg(1,2,3,4,5,6))

print(avg(1,2,3,4,5))

2.5

TypeError: <lambda>() missing 1 required positional argument: 'f'

In [ ]:
Addition of two numbers:

In [48]:
add=lambda a,b,c: a+b+c

In [49]:
add(4,5,6)

15

In [ ]:
Even & Odd logic:

In [50]:
even_odd= lambda x : x%2==0

In [51]:
even_odd(13)

False

In [52]:
even_odd(12)

True

In [53]:
(lambda x : x%2==0)(50)

True

In [54]:
(lambda x : x%2==0)(5)

False

In [ ]:
Larger Numbers:
    4 & 5

In [55]:
larger_num= lambda x,y : x if x>y else y

In [56]:
larger_num(15,25)

25

In [57]:
larger_num(50,15)

50

In [ ]:
List sorting by lambda function:

In [59]:
Names=['Rahul','Virat','ABC','KL Rahul','Hardik','AB']

Names

['Rahul', 'Virat', 'ABC', 'KL Rahul', 'Hardik', 'AB']

In [61]:
Names.sort()    # It will sort list in ascending order as per ASCII values.
Names

['AB', 'ABC', 'Hardik', 'KL Rahul', 'Rahul', 'Virat']

In [62]:
Names.sort(key= lambda x: len(x))    
Names

['AB', 'ABC', 'Rahul', 'Virat', 'Hardik', 'KL Rahul']

In [63]:
Names.sort(key= lambda x: len(x),reverse=True)    
Names

['KL Rahul', 'Hardik', 'Rahul', 'Virat', 'ABC', 'AB']

In [66]:
Marks=[('phy',95),('chem',85),('math',100),('eng',80),('python',98)]

In [67]:
Marks

[('phy', 95), ('chem', 85), ('math', 100), ('eng', 80), ('python', 98)]

In [68]:
Marks.sort(key=lambda x:x[1])

In [69]:
Marks

[('eng', 80), ('chem', 85), ('phy', 95), ('python', 98), ('math', 100)]

In [71]:
Marks.sort(key=lambda x:x[1],reverse=True)
Marks

[('math', 100), ('python', 98), ('phy', 95), ('chem', 85), ('eng', 80)]

In [ ]:
Dictionaries:

In [72]:
my_dict=[{"name":"Virat","Age":30,"Team":"rcb"},{"name":"Rahul","Age":35,"Team":"abc"},{"name":"Ab","Age":32,"Team":"mi"}]

In [73]:
my_dict

[{'name': 'Virat', 'Age': 30, 'Team': 'rcb'},
 {'name': 'Rahul', 'Age': 35, 'Team': 'abc'},
 {'name': 'Ab', 'Age': 32, 'Team': 'mi'}]

In [74]:
sorted(my_dict,key=lambda x:x['Age'])

[{'name': 'Virat', 'Age': 30, 'Team': 'rcb'},
 {'name': 'Ab', 'Age': 32, 'Team': 'mi'},
 {'name': 'Rahul', 'Age': 35, 'Team': 'abc'}]

In [75]:
sorted(my_dict,key=lambda x:x['name'])

[{'name': 'Ab', 'Age': 32, 'Team': 'mi'},
 {'name': 'Rahul', 'Age': 35, 'Team': 'abc'},
 {'name': 'Virat', 'Age': 30, 'Team': 'rcb'}]

In [76]:
sorted(my_dict,key=lambda x:x['name'],reverse=True)

[{'name': 'Virat', 'Age': 30, 'Team': 'rcb'},
 {'name': 'Rahul', 'Age': 35, 'Team': 'abc'},
 {'name': 'Ab', 'Age': 32, 'Team': 'mi'}]

In [77]:
sorted(my_dict,key=lambda x:x['Team'])

[{'name': 'Rahul', 'Age': 35, 'Team': 'abc'},
 {'name': 'Ab', 'Age': 32, 'Team': 'mi'},
 {'name': 'Virat', 'Age': 30, 'Team': 'rcb'}]

In [78]:
sorted(my_dict,key=lambda x:x['Team'],reverse=True)

[{'name': 'Virat', 'Age': 30, 'Team': 'rcb'},
 {'name': 'Ab', 'Age': 32, 'Team': 'mi'},
 {'name': 'Rahul', 'Age': 35, 'Team': 'abc'}]

In [ ]:
types of Arguments:

In [80]:
avg=lambda a,b,c:(a+b+c)/3

avg(10,20)

TypeError: <lambda>() missing 1 required positional argument: 'c'

In [81]:
avg=lambda a,b,c=200:(a+b+c)/3

avg(10,20)

76.66666666666667

In [15]:
avg=lambda a,b,c=200:round((a+b+c)/3,2)

avg(10,20)

76.67

In [11]:
avg=lambda a,b=300,c=200:round((a+b+c)/3,3)

avg(15)

171.667

In [85]:
sum1= lambda n1,n2,n3,n4,n5,n6:n1+n2+n3+n4+n5+n6

In [86]:
sum1(4)

TypeError: <lambda>() missing 5 required positional arguments: 'n2', 'n3', 'n4', 'n5', and 'n6'

In [87]:
sum1= lambda n1,n2=2,n3=3,n4=4,n5=5,n6=6:n1+n2+n3+n4+n5+n6

In [88]:
sum1(4)

24

In [89]:
avg= lambda *args: sum(args)/len(args)

In [23]:
sum1=lambda *args: sum(args)
sum1(1,2,3,4,5,6,7,8,9)

45

In [90]:
avg(1,2,3,4,5,6,7,8,9)

5.0

In [91]:
avg(2,2,2,2,2,2)

2.0

In [92]:
avg= lambda a,b,*args: sum(args)/len(args)    #args(3,4,5,6)

avg(1,2,3,4,5,6)

4.5

In [94]:
list1= lambda a,b,c,d:[a,b,c,d]

list1(1,2,3,4)

[1, 2, 3, 4]

In [95]:
list1(a=10,b=20,c=30,d=40)

[10, 20, 30, 40]

In [96]:
avg= lambda a,b,*args,**kwargs:[a,b,args,kwargs]

In [98]:
avg(4,5,'python',x=10,y=50,)

[4, 5, ('python',), {'x': 10, 'y': 50}]

In [ ]:
Filter:

In [16]:
list_even=[1,2,3,4,5,6,7,8,9,10]

new_list=list(filter(lambda x:(x%2==1),list_even))
new_list

[1, 3, 5, 7, 9]

In [102]:
new_list=tuple(filter(lambda x:(x%2==0),list_even))
new_list

(2, 4, 6, 8, 10)

In [103]:
import statistics

In [108]:
data=[1,2,3,4,5,6,7,8,9,11.5,12,12.5,16,17.5,18,19,21,35]

In [109]:
avg=statistics.mean(data)
avg

11.527777777777779

In [111]:
list(filter(lambda x:x>=avg,data))

[12, 12.5, 16, 17.5, 18, 19, 21, 35]

In [113]:
a=[1,2,3,4,5]
b=[6,7,8,9,10,11]

b.extend(a)
b

[6, 7, 8, 9, 10, 11, 1, 2, 3, 4, 5]

In [116]:
max_num=lambda x: max(x)

In [117]:
max_num(b)

11

In [118]:
Min_num=lambda x: min(x)

In [119]:
Min_num(b)

1

In [ ]:
2)Map()

In [121]:
My_list=[2,4,5,6,8,10]
print(list(map(lambda x: x**2,My_list)))
print(list(filter(lambda x: x>3,My_list)))

[4, 16, 25, 36, 64, 100]
[4, 5, 6, 8, 10]

In [25]:
def fibonacci(num):
    return num if num <=1 else fibonacci(num-1)+fibonacci(num-2)

In [27]:
num=10
for num in range(num):
    print(fibonacci(num),end=" ")

0 1 1 2 3 5 8 13 21 34