## Built In Functions:

Type of Function:
1)Built In Function: These functions are in built in python.
2)User-Define Functions: These functions are define by programmer to use for different purpose/To perform specific task.

In [ ]:
1)int()
2)float()
3)complex()
4)str()
5)list()
6)tuple()
7)set()
8)frozenset()
9)dict()
10)print()
11)sorted()
12)reversed()
13)max()
14)min()
15)sum()
16)len()
17)range()
18)enumerate()
19)help()
20)type()
21)eval()
22)input()
23)round()
24) chr()

1. filter()
2.map()
3.all()
4. any()
5.chr()
6.ord()
7. bin()
8.format()
9.eval()
10.abs()
11.pow()
12. divmod()
13. iter()
14. next()
15. zip()

In [ ]:
1. all()
>> Syntax: all(iterable)
    True/False
    
>> True= If all elements in iterable are true(Except 0 and False)
1== True
0==False

In [1]:
list1=[1,2,3,4,5,6]

all(list1)

True

In [2]:
list1=[1,2,3,0,4,5,6]

all(list1)

False

In [3]:
list1=[True,True,True]

all(list1)

True

In [4]:
list1=[True,True,True,False]

all(list1)

False

In [5]:
list1=[1,2,3,4,5,True,False]

all(list1)

False

In [6]:
list2=[]

all(list2)

True

In [7]:
tuple1=()

all(tuple1)

True

In [8]:
tuple1=(0,)

all(tuple1)

False

In [9]:
set1={}

all(set1)

True

In [10]:
set1={0,0,0,0}

all(set1)

False

In [11]:
list1=[12.5,0.12]

all(list1)

True

In [12]:
string="python"

all(string)

True

In [13]:
string="0000000"

all(string)

True

In [14]:
string=""

all(string)

True

In [16]:
dict={0:1,1:2,3:4}

all(dict)

False

In [17]:
dict={10:1,1:2,3:4}

all(dict)

True

In [ ]:
2. any():
>> any(iterable)
True or False 

True>> If atleast one element is True 
False>> If all elements are False

In [18]:
list1=[4,5,6,7,8]

any(list1)

True

In [19]:
list1=[4,5,6,7,8,0,0,0,1]

any(list1)

True

In [20]:
list1=[0,0,0,1]

any(list1)

True

In [21]:
list1=[0,0,0]

any(list1)

False

In [22]:
list1=[True, True,True]

any(list1)

True

In [23]:
list1=[2,3,4,5,6,78,9]

if all(list1):
    print("All are True")
    
else:
    print("One or more values are false")

All are True

In [24]:
list1=[2,3,4,5,6,78,9,0]

if all(list1):
    print("All are True")
    
else:
    print("One or more values are false")

One or more values are false

In [25]:
list1=[2,3,4,5,False,6,78,9,0]

if all(list1):
    print("All are True")
    
else:
    print("One or more values are false")

One or more values are false

In [26]:
list1=[0,0,0,0,0,0,0]

if all(list1):
    print("All are True")
    
else:
    print("One or more values are false")

One or more values are false

In [2]:
tup1=(0,0,0,0,0,0,0)

if all(tup1):
    print("All are True")
    
else:
    print("One or more values are false")

One or more values are false

In [28]:
set1={0,0,0,0,0,0,0}

if all(set1):
    print("All are True")
    
else:
    print("One or more values are false")

One or more values are false

In [29]:
d1={0:100,1:200}
if all(d1):
    print("All are True")
    
else:
    print("One or more values are false")

One or more values are false

In [30]:
d1={2:100,1:200}
if all(d1):
    print("All are True")
    
else:
    print("One or more values are false")

All are True

In [ ]:
3. chr()

In [31]:
chr(65)

'A'

In [32]:
chr(90)

'Z'

In [33]:
chr(97)

'a'

In [34]:
chr(103)

'g'

In [35]:
chr(47)

'/'

In [36]:
chr(48)

'0'

In [38]:
upper_case_characters=""

for i in range(65,91):
    upper_case_characters=upper_case_characters+" "+chr(i)
upper_case_characters

' A B C D E F G H I J K L M N O P Q R S T U V W X Y Z'

In [39]:
upper_case_characters=""

for i in range(65,91):
    upper_case_characters=upper_case_characters+"*"+chr(i)
upper_case_characters

'*A*B*C*D*E*F*G*H*I*J*K*L*M*N*O*P*Q*R*S*T*U*V*W*X*Y*Z'

In [40]:
upper_case_characters=""

for i in range(65,123):
    upper_case_characters=upper_case_characters+" "+chr(i)
upper_case_characters

' A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \\ ] ^ _ ` a b c d e f g h i j k l m n o p q r s t u v w x y z'

In [ ]:
4.ord():
    
    >> char to ASCII Code

In [41]:
ord("A")

65

In [42]:
ord("z")

122

In [43]:
ord("/")

47

In [44]:
ord("*")

42

In [ ]:
5. bin():
    >> Return a binary values

In [45]:
bin(11)

'0b1011'

In [46]:
bin(14)

'0b1110'

In [47]:
x=14
bin_num=bin(x).replace("0b","")
bin_num

'1110'

In [48]:
x=14
bin_num=bin(x).replace("0b","**")
bin_num

'**1110'

In [49]:
x=56
bin_num=bin(x).replace("0b","$$")
bin_num

'$$111000'

In [50]:
x=14
bin_num=bin(x).replace("0b","")
bin_num

'1110'

In [ ]:
6.format()

In [52]:
format(14,'b')

'1110'

In [5]:
format(10,'b')

'1010'

In [53]:
format(14,'f')

'14.000000'

In [55]:
format(122.2223456789123456,'.2f')

'122.22'

In [56]:
format(122.2223456789123456,'f')

'122.222346'

7.input()

In [59]:
x= input('Enter the value:')
y=input('Enter the value:')
z=x+y
z

Enter the value:12
Enter the value:13

'1213'

In [60]:
x= int(input('Enter the value:'))
y=int(input('Enter the value:'))
z=x+y
z

Enter the value:12
Enter the value:13

25

In [61]:
x= int(input('Enter the value:'))
y=int(input('Enter the value:'))
z=x+y
z

Enter the value:12.5

ValueError: invalid literal for int() with base 10: '12.5'

In [62]:
x=float(input('Enter the value:'))
y=float(input('Enter the value:'))
z=x+y
z

Enter the value:12.5
Enter the value:13.5

26.0

In [ ]:
8.eval()

In [63]:
x=eval(input('Enter the value:'))
y=eval(input('Enter the value:'))
z=x+y
z

Enter the value:12
Enter the value:13

25

In [64]:
x=eval(input('Enter the value:'))
y=eval(input('Enter the value:'))
z=x+y
z

Enter the value:12.5
Enter the value:35.6

48.1

In [66]:
x=eval(input('Enter the value:'))
y=eval(input('Enter the value:'))
z=x+y
z

Enter the value:'data'
Enter the value:"Science"

'dataScience'

In [67]:
x=eval(input('Enter the value:'))
y=eval(input('Enter the value:'))
z=x+y
z

Enter the value:'12'
Enter the value:"13"

'1213'

In [ ]:
9. abs()

>> It will return its distance from zero.

In [68]:
abs(5)

5

In [69]:
abs(-5)

5

In [70]:
abs(3+4j)

5.0

In [71]:
abs(20)

20

In [72]:
abs(-20)

20

In [73]:
abs(8+15j)

17.0

In [74]:
abs(12.5)

12.5

In [ ]:
10. round()

In [75]:
x=12.3456789

round(x,2)

12.35

In [76]:
x=12.3456789

round(x)

12

In [77]:
x=12.3456789

round(x,3)

12.346

In [ ]:
13. pow():

In [78]:
5**3

125

In [79]:
2**2

4

In [80]:
x=4

sqr=pow(x,2)
sqr

16

In [81]:
x=25

sqr=pow(x,2)
sqr

625

In [82]:
x=25

sqr=pow(x,4)
sqr

390625

In [83]:
pow(5,2)

25

In [84]:
pow(11,3)

1331

In [85]:
pow(25,2)

625

In [ ]:
12. divmod():
    
    >> divmod(Quotiont,Remainder)

In [86]:
22/5     #Q=4  R=2  (4,2)

4.4

In [87]:
divmod(22,5)

(4, 2)

In [88]:
divmod(22,2)

(11, 0)

In [90]:
divmod(122,7)

(17, 3)

In [ ]:
13. iter()

>> iterator_obj=iter(iterable)
   iterator_obj

In [91]:
list1=[4,5,6,7,8,9]

for i in list1:
    print(i)

4
5
6
7
8
9

In [93]:
list1=[4,5,6,7,8,9]

iterator_obj=iter(list1)
iterator_obj

In [94]:
list1=[4,5,6,7,8,9]
iter(list1)

In [ ]:
14. next()

In [6]:
list1=[4,5,6,7,8,9]
iterator_obj=iter(list1)
print(next(iterator_obj))
print(next(iterator_obj))
# print(next(iterator_obj))
# print(next(iterator_obj))
# print(next(iterator_obj))
# print(next(iterator_obj))

4
5

In [97]:
list1=[4,5,6,7,8,9]
iterator_obj=iter(list1)
print(next(iterator_obj))
print(next(iterator_obj))
print(next(iterator_obj))
print(next(iterator_obj))
print(next(iterator_obj))
print(next(iterator_obj))
print(next(iterator_obj))

4
5
6
7
8
9

StopIteration:

In [ ]:
16. dir()

>> return all attributes assosiated with datatype

In [98]:
num=[1,2,3,4,5]

print(dir(num))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
17.filter():
>> filter(function_name,iterable)

In [136]:
list1=[1,2,3,4,5,6,7,8,9,10]

def even(i):
    if i%2==0:
        return i

In [137]:
list(filter(even,list1))

[2, 4, 6, 8, 10]

In [126]:
def find_positive_num(num):
    if num>0:
        return num

In [127]:
num_list=[1,2,3,-4,-5,6,7,0,-10]

In [129]:
positive_num=list(filter(find_positive_num,num_list))
positive_num

[1, 2, 3, 6, 7]

In [123]:
list(filter(even,list1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [103]:
player_list=['virat','rohit','rahul','rishabh']

result= list(filter(lambda x: len(x)==5,player_list))
result

['virat', 'rohit', 'rahul']

In [104]:
player_list=['virat','rohit','rahul','rishabh']

result= tuple(filter(lambda x: len(x)==5,player_list))
result

('virat', 'rohit', 'rahul')

In [105]:
player_list=['virat','rohit','rahul','rishabh']

result=(filter(lambda x: len(x)==5,player_list))
result

In [106]:
player_list=['virat','rohit','rahul','rishabh']

result= list(filter(lambda x: len(x)==5,player_list))
result

['virat', 'rohit', 'rahul']

In [5]:
dict1={"A":100,"B":200,"C":300,"D":400,"E":500}
dict1.update({"E":"800"})
dict1

{'A': 100, 'B': 200, 'C': 300, 'D': 400, 'E': '800'}