In [ ]:
Exception:
    exception is nothing but runtime errors and it occurs due to inncorrect implementation of logic 

Handling:
    it is a mechanism through which we can handle the runtime errors

In [ ]:
NameError
IndexError
AttributeError
FileExistsError
ZeroDivisionError 
ValueError
TypeError
IndentationError

In [3]:
a=10
b=0
c=a/b
c

ZeroDivisionError: division by zero

In [10]:
a=0
b=0
try:
    c=a/b
    print(c)
except:
    print("handled")
finally:
    print("to be handled")

handled
to be handled

In [9]:
a=10
b=5
try:
    c=a/b
    print(c)
except:
    print("handled")
else:
    print("already handled")

2.0
already handled

In [1]:
print("python")

python

In [2]:
print("Hello")

Hello

In [3]:
print(python)

NameError: name 'python' is not defined

In [4]:
list1=[1,2,3,45]
list1[3]

45

In [5]:
list1=[1,2,3,45]
list1[0]

1

In [6]:
list1=[1,2,3,45]
list1[4]

IndexError: list index out of range

In [8]:
list1=[1,2,3,4]
list1.append(100)
list1

[1, 2, 3, 4, 100]

In [9]:
list1=(1,2,3,4)
list1.append(100)
list1

AttributeError: 'tuple' object has no attribute 'append'

In [10]:
open("file.txt","x")  #

In [11]:
open("file.txt","x")

FileExistsError: [Errno 17] File exists: 'file.txt'

In [12]:
4567/0

ZeroDivisionError: division by zero

## 1. Try-Except Block:

In [13]:
try:
    print("This is try block")
except:
    print("This is except block")

This is try block

In [14]:
try:
    print("This is try block")
    print("python")
except:
    print("This is except block")

This is try block
python

In [18]:
try:
    print("This is try block")
    print(python)
except:
    print("This is except block")

This is try block
This is except block

In [17]:
print("This is try block")
print(python)

This is try block

NameError: name 'python' is not defined

In [2]:
import traceback
list1=[4,5,6,"7",8,9,5.9,45,"20",30]
for i in list1:
    print(i)
    x=i/2
    print(f"x=={x}")

4
x==2.0
5
x==2.5
6
x==3.0
7

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [1]:
import traceback
list1=[4,5,6,"7",8,9,5.9,45,"20",30]
for i in list1:
    print(i)
    try:
        x=i/2
        print(f"x=={x}")
    
    except:
        
        print("The datatype is not numeric")

4
x==2.0
5
x==2.5
6
x==3.0
7
The datatype is not numeric
8
x==4.0
9
x==4.5
5.9
x==2.95
45
x==22.5
20
The datatype is not numeric
30
x==15.0

In [24]:
list1=[4,5,6,"7",8,9,5.9,45,"20",30]
for i in list1:
    print(i)
    try:
        x=i/2
        print(f"x=={x}")
    
    except:
        x=int(i)/2
        print(f"x=={x}")

4
x==2.0
5
x==2.5
6
x==3.0
7
x==3.5
8
x==4.0
9
x==4.5
5.9
x==2.95
45
x==22.5
20
x==10.0
30
x==15.0

In [27]:
import traceback

try:
    print("This is try block")
    print(python)
    print("Hello python")
    
except:
    print(traceback.print_exc())
    print("This is except block")

This is try block
None
This is except block

Traceback (most recent call last):
  File "<ipython-input-27-f3a42b0b1349>", line 5, in <module>
    print(python)
NameError: name 'python' is not defined

In [28]:
import traceback

try:
    print("This is try block")
    print("Hello python")
    print(python)
    print("********************************")
    
    
except:
    print(traceback.print_exc())
    print("This is except block")

This is try block
Hello python
None
This is except block

Traceback (most recent call last):
  File "<ipython-input-28-44ea7c0ed742>", line 6, in <module>
    print(python)
NameError: name 'python' is not defined

In [29]:
input_data=[2,3,4,5,6,7]

input_data.append(100)
input_data.append(1000)

input_data

[2, 3, 4, 5, 6, 7, 100, 1000]

In [30]:
input_data={2,3,4,5,6,7}

input_data.append(100)
input_data.append(1000)

input_data

AttributeError: 'set' object has no attribute 'append'

In [31]:
input_data=[2,3,4,5,6,7]

try:
    input_data.append(100)
    input_data.append(1000)
    print(input_data)
except:
    print("This is except block")

[2, 3, 4, 5, 6, 7, 100, 1000]

In [32]:
input_data=(2,3,4,5,6,7)

try:
    input_data.append(100)
    input_data.append(1000)
    print(input_data)
except:
    print("This is except block")

This is except block

In [34]:
input_data=(2,3,4,5,6,7)

try:
    input_data.append(100)
    input_data.append(1000)
    print(input_data)
except:
    input_data=list(input_data)
    input_data.append(100)
    input_data.append(1000)
    print(input_data)
    #print("This is except block")

[2, 3, 4, 5, 6, 7, 100, 1000]

In [35]:
input_data={2,3,4,5,6,7}

try:
    input_data.append(100)
    input_data.append(1000)
    print(input_data)
except:
    input_data=list(input_data)
    input_data.append(100)
    input_data.append(1000)
    print(input_data)
    #print("This is except block")

[2, 3, 4, 5, 6, 7, 100, 1000]

In [38]:
import pandas as pd

file_name="Emp_Records.xlsx"
df=pd.read_excel(file_name)
df=pd.read_excel("Emp_Records.xlsx")
df

,Emp ID,First Name,Age in Yrs,Weight in Kgs,Age in Company,Salary,City
0,677509,Lois,36.36,60,13.68,168251,Denver
1,940761,Brenda,47.02,60,9.01,51063,Stonewall
2,428945,Joe,54.15,68,0.98,50155,Michigantown
3,408351,Diane,39.67,51,18.30,180294,Hydetown
4,193819,Benjamin,40.31,58,4.01,117642,Fremont
...,...,...,...,...,...,...,...
95,639892,Jose,22.82,89,1.05,129774,Biloxi
96,704709,Harold,32.61,77,5.93,156194,Carol Stream
97,461593,Nicole,52.66,60,28.53,95673,Detroit
98,392491,Theresa,29.60,57,6.99,51015,Mc Grath
99,495141,Tammy,38.38,55,2.26,93650,Alma

In [39]:
import pandas as pd
import os

file_name='D:\\Velocity Data Science\\1st Oct 2022\\11_28_Exception_Handling\\Emp_Records.xlsx'

df=pd.read_excel(file_name)
df=pd.read_excel("Emp_Records.xlsx")
df1

NameError: name 'df1' is not defined

In [40]:
os.getcwd()

'D:\\Velocity Data Science\\1st Oct 2022\\11_28_Exception_Handling'

In [43]:
import pandas as pd
import os

file_name="Emp_Records.xlsx"
try:
    df=pd.read_excel(file_name)
    print(df)
except:
    cwd_path=os.getcwd()
    
    file_name=os.path.join(cwd_path,file_name)
    print("file_name",file_name)

file_name D:\Velocity Data Science\1st Oct 2022\11_28_Exception_Handling\Emp_Records.xlsx

In [47]:
import pandas as pd
import os

file_name=r"D:\Velocity Data Science\1st Oct 2022\11_28_Exception_Handling\Emp_Records.xlsx"
try:
    df=pd.read_excel(file_name)
    print(df1)
except:
    print("This is except block")
    file_name=file_name.split("\\")[-1]
    print("file_name:",file_name)
    
    df=pd.read_excel(file_name)
df

This is except block
file_name: Emp_Records.xlsx

,Emp ID,First Name,Age in Yrs,Weight in Kgs,Age in Company,Salary,City
0,677509,Lois,36.36,60,13.68,168251,Denver
1,940761,Brenda,47.02,60,9.01,51063,Stonewall
2,428945,Joe,54.15,68,0.98,50155,Michigantown
3,408351,Diane,39.67,51,18.30,180294,Hydetown
4,193819,Benjamin,40.31,58,4.01,117642,Fremont
...,...,...,...,...,...,...,...
95,639892,Jose,22.82,89,1.05,129774,Biloxi
96,704709,Harold,32.61,77,5.93,156194,Carol Stream
97,461593,Nicole,52.66,60,28.53,95673,Detroit
98,392491,Theresa,29.60,57,6.99,51015,Mc Grath
99,495141,Tammy,38.38,55,2.26,93650,Alma

In [49]:
import pandas as pd
import os
file_name="diabetes.csv"
df2=pd.read_csv(file_name)
df2

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,50,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,52,1
3,150,66,23,94,28.1,0.167,21,0
4,150,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63,0
764,122,70,27,0,36.8,0.340,27,0
765,121,72,23,112,26.2,0.245,30,0
766,126,60,0,0,30.1,0.349,47,1
767,93,70,31,0,30.4,0.315,23,0

In [50]:
df2.shape

(768, 8)

In [51]:
df2.columns

Index(['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI',
       'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [52]:
import pandas as pd
import os

file_name="diabetes.csv"

try:
    print("This is except Block")
    df=pd.read_excel(file_name)
except:
    print("I am except")

This is except Block
I am except

In [55]:
import pandas as pd
import os

file_name="diabetes.csv"

try:
    print("This is except Block")
    df=pd.read_excel(file_name)
except:
    df=pd.read_csv(file_name)
    #print(df)
df

This is except Block

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,50,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,52,1
3,150,66,23,94,28.1,0.167,21,0
4,150,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63,0
764,122,70,27,0,36.8,0.340,27,0
765,121,72,23,112,26.2,0.245,30,0
766,126,60,0,0,30.1,0.349,47,1
767,93,70,31,0,30.4,0.315,23,0

In [53]:
import pandas as pd
import os

file_name="diabetes.csv"
df2=pd.read_excel(file_name)

XLRDError: Unsupported format, or corrupt file: Expected BOF record; found b'Glucose,'

In [56]:
import pandas as pd
import os
import traceback

file_name="diabetes.csv"

try:
    print("This is try Block")
    df=pd.read_excel(file_name)
except:
    df=pd.read_csv(file_name)
    print(traceback.print_exc())
    
    #print(df)
df

This is except Block
None

Traceback (most recent call last):
  File "<ipython-input-56-697c815454ca>", line 9, in <module>
    df=pd.read_excel(file_name)
  File "C:\Users\Priyanka Raut\anaconda3\lib\site-packages\pandas\util\_decorators.py", line 296, in wrapper
    return func(*args, **kwargs)
  File "C:\Users\Priyanka Raut\anaconda3\lib\site-packages\pandas\io\excel\_base.py", line 304, in read_excel
    io = ExcelFile(io, engine=engine)
  File "C:\Users\Priyanka Raut\anaconda3\lib\site-packages\pandas\io\excel\_base.py", line 867, in __init__
    self._reader = self._engines[engine](self._io)
  File "C:\Users\Priyanka Raut\anaconda3\lib\site-packages\pandas\io\excel\_xlrd.py", line 22, in __init__
    super().__init__(filepath_or_buffer)
  File "C:\Users\Priyanka Raut\anaconda3\lib\site-packages\pandas\io\excel\_base.py", line 353, in __init__
    self.book = self.load_workbook(filepath_or_buffer)
  File "C:\Users\Priyanka Raut\anaconda3\lib\site-packages\pandas\io\excel\_xlrd.py", line 37, in load_workbook
    return open_workbook(filepath_or_buffer)
  File "C:\Users\Priyanka Raut\anaconda3\lib\site-packages\xlrd\__init__.py", line 148, in open_workbook
    bk = book.open_workbook_xls(
  File "C:\Users\Priyanka Raut\anaconda3\lib\site-packages\xlrd\book.py", line 92, in open_workbook_xls
    biff_version = bk.getbof(XL_WORKBOOK_GLOBALS)
  File "C:\Users\Priyanka Raut\anaconda3\lib\site-packages\xlrd\book.py", line 1278, in getbof
    bof_error('Expected BOF record; found %r' % self.mem[savpos:savpos+8])
  File "C:\Users\Priyanka Raut\anaconda3\lib\site-packages\xlrd\book.py", line 1272, in bof_error
    raise XLRDError('Unsupported format, or corrupt file: ' + msg)
xlrd.biffh.XLRDError: Unsupported format, or corrupt file: Expected BOF record; found b'Glucose,'

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,50,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,52,1
3,150,66,23,94,28.1,0.167,21,0
4,150,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63,0
764,122,70,27,0,36.8,0.340,27,0
765,121,72,23,112,26.2,0.245,30,0
766,126,60,0,0,30.1,0.349,47,1
767,93,70,31,0,30.4,0.315,23,0

In [58]:
import pandas as pd
import os
import traceback
import sys

file_name="diabetes.csv"

try:
    print("This is try Block")
    df=pd.read_excel(file_name)
except:
    df=pd.read_csv(file_name)
    #print(traceback.print_exc())
    print(sys.exc_info())
    
    #print(df)
df

This is except Block
(<class 'xlrd.biffh.XLRDError'>, XLRDError("Unsupported format, or corrupt file: Expected BOF record; found b'Glucose,'"), <traceback object at 0x00000168B4CC6600>)

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,50,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,52,1
3,150,66,23,94,28.1,0.167,21,0
4,150,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63,0
764,122,70,27,0,36.8,0.340,27,0
765,121,72,23,112,26.2,0.245,30,0
766,126,60,0,0,30.1,0.349,47,1
767,93,70,31,0,30.4,0.315,23,0

In [61]:
import pandas as pd
import os
import traceback
import sys

file_name="Emp_Records.xlsx"

try:
    print("This is try Block")
    df=pd.read_excel(file_name)
except:
    df=pd.read_csv(file_name)
    print(traceback.print_exc())
    print(sys.exc_info())
    
    #print(df)
df

This is try Block

,Emp ID,First Name,Age in Yrs,Weight in Kgs,Age in Company,Salary,City
0,677509,Lois,36.36,60,13.68,168251,Denver
1,940761,Brenda,47.02,60,9.01,51063,Stonewall
2,428945,Joe,54.15,68,0.98,50155,Michigantown
3,408351,Diane,39.67,51,18.30,180294,Hydetown
4,193819,Benjamin,40.31,58,4.01,117642,Fremont
...,...,...,...,...,...,...,...
95,639892,Jose,22.82,89,1.05,129774,Biloxi
96,704709,Harold,32.61,77,5.93,156194,Carol Stream
97,461593,Nicole,52.66,60,28.53,95673,Detroit
98,392491,Theresa,29.60,57,6.99,51015,Mc Grath
99,495141,Tammy,38.38,55,2.26,93650,Alma

### Specific exceptions:

In [62]:
try:
    print("I am Try")
    
except:
    print("I am except")

I am Try

In [66]:
try:
    print(I_am_Try)
except:
    print("I am except")

I am except

In [68]:
try:
    print("This is try block")
    print(python)
    
except NameError:
    print("We are in the Name Error Block")

This is try block
We are in the Name Error Block

In [67]:
print(python)

NameError: name 'python' is not defined

In [72]:
try:
    print("This is try Block")
    list1=[4,5,6]
    print(list1[4])
    print(python)
    
except NameError:
    print("We are in the Name Error Block")
    
except IndexError:
    print("We are in the Index Error Block")

This is try Block
We are in the Index Error Block

In [69]:
list1=[4,5,6]
print(list1[4])

IndexError: list index out of range

In [74]:
try:
    print("This is try Block")
    list1=[4,5,6]
    print(list1[4])
    print(python)
    
except NameError:
    print("We are in the Name Error Block")
    
except IndexError:
    print("We are in the Index Error Block")
    
except FileExistsError:
    print("We are in the FileExists Error Block")

This is try Block
We are in the Index Error Block

In [73]:
open("file.txt","x")

FileExistsError: [Errno 17] File exists: 'file.txt'

In [75]:
try:
    print("This is try Block")
    list1=[4,5,6]
    print(list1[4])
    print(python)
    
except NameError:
    print("We are in the Name Error Block")
    

    
except FileExistsError:
    print("We are in the FileExists Error Block")
    
except IndexError:
    print("We are in the Index Error Block")

This is try Block
We are in the Index Error Block

In [77]:
import sys

list1=["b","0","2"]

for entry in list1:
    try:
        print("The entry is: ",entry)
        x=1/int(entry)
        print(f"x=={x}")
        print("The reciprocal of entry is :",x)
    except:
        print("Oops!",sys.exc_info()[0],"Occured") 
        print("Next Entry")
        print("************************************")

The entry is:  b
Oops! <class 'ValueError'> Occured
Next Entry
************************************
The entry is:  0
Oops! <class 'ZeroDivisionError'> Occured
Next Entry
************************************
The entry is:  2
x==0.5
The reciprocal of entry is : 0.5

In [79]:
try:
    print("This is try Block")
    list1=[4,5,6]
    print(list1[4])
    print(python)
    
except NameError:
    print("We are in the Name Error Block")
    
except FileExistsError:
    print("We are in the FileExists Error Block")
    
# except IndexError:
#     print("We are in the Index Error Block")
    
except:
    print("We are in except block")
    print(sys.exc_info()[0])

This is try Block
We are in except block
<class 'IndexError'>

## Try-Except-else:

In [ ]:
try:
except:
else:

In [80]:
try:
    print("Try block")
    
except:
    print("We are getting error in try block")
    print("We are except block")
    
else:
    print("We are not getting any error in try block")
    print("Else block")

Try block
We are not getting any error in try block
Else block

In [81]:
try:
    print("try block")
    string="python"
    string.replace("p")
except:
    print("We are getting error in try block")
    print("We are except block")
    print(traceback.print_exc())
    
else:
    print("We are not getting any error in try block")
    print("Else block")

try block
We are getting error in try block
We are except block
None

Traceback (most recent call last):
  File "<ipython-input-81-58b447bd36f3>", line 4, in <module>
    string.replace("p")
TypeError: replace expected at least 2 arguments, got 1