## date Time Module:

In [1]:
import datetime
import time      >> Time complexity

# Functions:

In [ ]:
1. time.time()
2. time.perf_counter()
3. time.sleep()
4. datetime.datetime()

# Todays date and time

5. datetime.datetime().now()
6. datetime.datetime().today()

#Todays Date

7. datetime.datetime().now().date()
8. datetime.datetime().now().date()
9. datetime.date.today()

10. datetime.strftime()
11. datetime.datetime.strptime(date,dateformat)    >> %Y  %y %b %B

12. datetime.timedelta()

In [ ]:
datetime.timedelta() >> timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)

In [3]:
current_date=datetime.datetime.now()
current_date

datetime.datetime(2022, 11, 22, 8, 16, 17, 7039)

In [5]:
new_date=current_date+datetime.timedelta(days=5)
new_date

datetime.datetime(2022, 11, 27, 8, 16, 17, 7039)

In [5]:
current_date=datetime.datetime.now()
print("current_date is :",current_date)

print(current_date.strftime("%d-%m-%Y"))   # 02-11-2022
print(current_date.strftime("%d/%m/%Y"))
print(current_date.strftime("%d %b %Y"))  # 02 Nov 2022
print(current_date.strftime("%d %B %Y")) 
print(current_date.strftime("%Y-%m-%d"))  # 2022-11-02
print(current_date.strftime("%d-%m-%y"))
print(current_date.strftime("%d/%m/%Y"))

current_date is : 2022-11-24 23:37:54.137062
24-11-2022
24/11/2022
24 Nov 2022
24 November 2022
2022-11-24
24-11-22
24/11/2022

In [2]:
import datetime
current_date=datetime.datetime.now()
print("current_date is :",current_date)

print(current_date.strftime("%d-%m-%Y"))

current_date is : 2022-11-24 23:32:35.534168
24-11-2022

In [9]:
current_date=datetime.datetime(1947,8,15)
print("current_date is :",current_date)

print(current_date.strftime("%d-%m-%Y"))   # 02-11-2022
print(current_date.strftime("%d/%m/%Y"))
print(current_date.strftime("%d %b %Y"))  # 02 Nov 2022
print(current_date.strftime("%d %B %Y")) 
print(current_date.strftime("%Y-%m-%d"))  # 2022-11-02
print(current_date.strftime("%d-%m-%y"))
print(current_date.strftime("%d/%m/%y"))

current_date is : 1947-08-15 00:00:00
15-08-1947
15/08/1947
15 Aug 1947
15 August 1947
1947-08-15
15-08-47
15/08/47

## Strptime:

In [ ]:
strptime>> String points to time >> String parser

In [ ]:
2022-11-02 >> '02-11-2022'
2022-11-02 >> '02/11/2022'
2022-11-02 >> '02 Nov 2022'
2022-11-02 >> '02 November 2022'
2022-11-02 >> '2022-11-02'
2022-11-02 >> '02-11-22'
2022-11-02 >> '02/11/22'

In [ ]:
Aws >> 
Iris >> Jsonata 

scalling 
Fearture selections methods 
VIF 
Multicollinearity

In [22]:
list2=[1,2,3,4,5]
list3=[5,6,7,8,9]

l3= dict(zip(list2,list3))
l3

{1: 5, 2: 6, 3: 7, 4: 8, 5: 9}

In [13]:
s2="mayur"
#s3="amruy"

In [17]:
s3="".join(sorted(s2))
s3

'amruy'

In [19]:
s4="priyanka"
s5="".join(sorted(s4))
s5

'aaiknpry'

In [23]:
list2=[1,2,3,4,5]
list3=[5,6,7,8,9]

l4= [i for i in list2 if i in list3]
l4

[5]

In [24]:
list2=[1,2,3,4,5]
list3=[5,6,7,8,9]

l4= [i for i in list2 if i not in list3]
l4

[1, 2, 3, 4]

In [26]:
d1={1: 5, 2: 6, 3: 7, 4: 8, 5: 9}

d2={k:v**2 for k,v in d1.items() if v>5}
d2

{2: 36, 3: 49, 4: 64, 5: 81}

In [28]:
list2=[1,2,3,4,5]
list3=[5,6,7,8,9]

l5= list(map(lambda x,y: x+y,list2,list3))
l5

[6, 8, 10, 12, 14]

In [30]:
list2=[1,2,3,4,5]

sum(list2)

sumation= lambda x : sum (x)

In [31]:
sumation(list2)

15

In [34]:
from functools import reduce

In [42]:
list2=[1,2,3,4,5]
result= reduce(lambda x,y :(x)+(y) ,list2)
result

15

In [43]:
list2=[1,2,3,4,5]
result= reduce(lambda x,y :x*y ,list2)
result

120

In [44]:
list2=[1,2,3,4,5]
result= reduce(lambda x,y :x/y ,list2)
result

0.008333333333333333

In [14]:
import datetime
new_date1= datetime.strptime('02-11-2022',"%d %m, %Y").date()
new_date1

AttributeError: module 'datetime' has no attribute 'strptime'

In [5]:
import datetime
new_date1= datetime.datetime.strptime('02-11-2022',"%d-%B-%y").date()
new_date1

ValueError: time data '02-11-2022' does not match format '%d-%B-%y'

In [10]:
from datetime import datetime

date_string = "21 June, 2018"

# print("date_string =", date_string)
# print("type of date_string =", type(date_string))

date_object = datetime.strptime(date_string, "%d %B, %Y")

print("date_object =", date_object)
print("type of date_object =", type(date_object))

date_object = 2018-06-21 00:00:00
type of date_object = <class 'datetime.datetime'>