In [ ]:
Regular Expressions >> Regex

In [ ]:
"""I am happy my mob no is 9988775566
pan_card no 
is 8888 5555 4444"""

In [1]:
import re
re>> Regular Expressions
re>> RegEX >> regex

Input>> text format >> string datatype

In [ ]:
# Finance>> python_coding >> Credit Score(Cibil) >> Fico score() >> SSN (9digit)  1234567.zfill(9) 
# 2milions== QC
# 200-300
# Application Received date= 
# Funding date=
# funding_flag= IF (,>0),1,0)  Feature Engineering 
# int
# EXL
# HCL(Code)

In [ ]:
1000 pan_cards


images1  dob  pan_no   name    father_name
.....




1000 images

In [ ]:
image or PDF formats

PDF: 1. Readable
     2. Non Readable
        
1. Readable:
    1. pdftotext
    2. pypdf2
    3. pdfplumber
    4. tabula-py  (Tabular format)
    5. camelot
2.  Non Readable
   1. PDF TO Image 
        pdf2image
   2. Image to text 
      1. pytesseract (open source)
      2. Google vision
      3. Amazon Textract
      4. Easy-OCR

        
Images:
    Images to text:
      1. pytesseract (open source)
      2. Google vision
      3. Amazon Textract
      4. Easy-OCR

In [ ]:
PAN Number 
AADHAR number
Dates
DL Number
Voter ID
Email ID
Mobile Number
IFSC Code

In [ ]:
Regular Expression Functions:

In [ ]:
1. Findall()
2. sub()
3. match()
4. search()
5. compile()
6. split()

In [ ]:
1. findall()

In [ ]:
Syntax:
    re.findall(pattern,text)
    
    pattern>> str
    text>> str
    It will return data in the form of list

In [6]:
import re 

text="""My mobile Number are:
        9988776655 and 8855446688
        Todays date is 22-11-2022
        """

mob_num= re.findall("[0-9]{10}",text)
mob_num

['9988776655', '8855446688']

In [4]:
type(text)

str

In [7]:
import re 

text="""My mobile Number are:
        9988776655 and 88554466889
        Todays date is 22-11-2022
        """

mob_num= re.findall("[0-9]{10}",text)
mob_num

['9988776655', '8855446688']

In [1]:
import re 

text="""My mobile Number are:
        9988776655 and 885544668
        Todays date is 22-11-2022
        """

mob_num= re.findall("[0-9]{10}",text)
mob_num

['9988776655']

In [9]:
import re 

text="""My mobile Number are:
        9988776655 and 8855446688   
        Todays date is 22-11-2022
        """

mob_num= re.findall("[0-9]{5}",text)
mob_num

['99887', '76655', '88554', '46688']

In [10]:
import re 

text="""My mobile Number are:
        9988776655 and 8855446688   
        Todays date is 22-11-2022
        """

mob_num= re.findall("[0-9]{4}",text)
mob_num

['9988', '7766', '8855', '4466', '2022']

In [13]:
import re 

text="""My mobile Number are:
        9988776655 and 8855446688   
        Todays date is 22-11-2022
        """

mob_num= re.findall("[0-9]{2}",text)
print(mob_num)
print(len(mob_num))

['99', '88', '77', '66', '55', '88', '55', '44', '66', '88', '22', '11', '20', '22']
14

In [14]:
import re 

text="""My mobile Number are:
        9988776655 and 8855446688   
        Todays date is 22-11-2022
        """

mob_num= re.findall("[0-9]{1}",text)
print(mob_num)
print(len(mob_num))

['9', '9', '8', '8', '7', '7', '6', '6', '5', '5', '8', '8', '5', '5', '4', '4', '6', '6', '8', '8', '2', '2', '1', '1', '2', '0', '2', '2']
28

In [15]:
s4="google"

#{g:2,o:2,l:1,e:1}
d3={}
for i in s4:
    if i in d3:
        d3[i]+=1
    else:
        d3[i]=1
print(d3)

{'g': 2, 'o': 2, 'l': 1, 'e': 1}

In [17]:
list2=[1,2,3,4,5]
list3=[5,6,7,8,9]

l4=[6,8,10,12,14]

l5= [value+list3[i] for i, value in enumerate(list2)]
l5

[6, 8, 10, 12, 14]

In [18]:
list2=[1,2,3,4,5]
list3=[5,6,7,8,9]
l3=[]
for i in list2:
    if i in list3:
        l3.append(i)
print(l3)

[5]