# Regular Expression:

In [ ]:
import re

>> Data should be text(string format)

use cases:
    1.To extract info from text data
    2.Text preprocessing(Text cleaning >> To remove all special chars or spaces)
    3. Web Scraping

In [ ]:
Functions:
1.findall() >> List of all matches
2.re.search() >> Object >> Object.group()>> It will search for pattern in whole string
3.re.match() >> Object.group()>> It will check for output in first line Only
4. re.compile() >> string
5.re.split() >> List
6. re.sub()>> string

In [ ]:
Special Sequences:
\d  >>[0-9]
\D  >>[^0-9]
\w  >>[a-zA-Z0-9_]
\W  >>[^a-zA-Z0-9_]
\s  >> [ ]
\S  >> [^ ]
\b >> To bind the pattern

In [ ]:
Special Characters:
1.Plus(+)  >> One or more Occurences
2.Star(*)  >> zero or more Occurences
3.dot(.)  >>  Any Char except newline
4.Question Mark(?) >> Zero or one occurance
5.startswith(^)
6.Endswith($)
7.Or(|)

8.[] >> Set of characters
9. {} >> Number of occurences
10. () >> Group of characters

In [ ]:
5. Compile():

In [3]:
import re
string1="Contact number is: 987-123-7534"
string2="Contact number is: 487-563-8534"
string3="Contact number is: 987-165-7994"
string4="Contact number is: 997-103-7004"
string5="Contact number is: 907-120-7534"
string6="Contact number is: 987-163-7564"


result1= re .search("\d{3}[-]\d{3}[-]\d{4}",string1)
print(result1.group())

result2= re .search("\d{3}[-]\d{3}[-]\d{4}",string2)
print(result2.group())

result3= re .search("\d{3}[-]\d{3}[-]\d{4}",string3)
print(result3.group())

result4= re .search("\d{3}[-]\d{3}[-]\d{4}",string4)
print(result4.group())

result5= re .search("\d{3}[-]\d{3}[-]\d{4}",string5)
print(result5.group())

result6= re .search("\d{3}[-]\d{3}[-]\d{4}",string6)
print(result6.group())

987-123-7534
487-563-8534
987-165-7994
997-103-7004
907-120-7534
987-163-7564

In [9]:
pattern= re.compile("\d{3}[-]\d{3}[-]\d{4}")
result1=pattern.search(string1)
print(result1.group())

result2=pattern.search(string2)
print(result2.group())

result3=pattern.search(string3)
print(result3.group())

result4=pattern.search(string4)
print(result4.group())

result5=pattern.search(string5)
print(result5.group())

result6=pattern.search(string6)
print(result6.group())

987-123-7534
487-563-8534
987-165-7994
997-103-7004
907-120-7534
987-163-7564

In [ ]:
6. Substitite():

In [ ]:
re.sub("Patter","pattern_tobe_replaced_by",text)

In [ ]:
Used to replace one or many matches.
>> Returns the string

In [1]:
string="Python and data Science"
string.replace("data Science","machine Learning")

'Python and machine Learning'

In [16]:
string="Python and data Science 2023, 2022"
string=string.replace("2022","").replace("2023","").replace(",","").strip()
string

'Python and data Science'

In [ ]:
string="Python and data Science 2023, 2022  #$%@&      %^&*$#    1234"

In [ ]:
replace
split
isnum
isaplha
strip

In [18]:
import re

string="Python and data Science"
new_string=re.sub("data Science","machine Learning",string)
new_string

'Python and machine Learning'

In [19]:
string="Python and data Science 2023, 2022"
string1=re.sub("[0-9]","",string)
string1

'Python and data Science , '

In [20]:
string="Python and data Science 2023, 2022"
string1=re.sub("[0-9]","*",string)
string1

'Python and data Science ****, ****'

In [23]:
string="Python and data Science 2023, 2022"
string1=re.sub("\d","*",string)
string1

'Python and data Science ****, ****'

In [4]:
string="      Python      and data       Science   "
string1=re.sub("\s{2,20}"," ",string)
string1

' Python and data Science '

In [2]:
import re
string="   1234 Python        and data Science      #$%@& 2023, 2022 @#$%&*"
string1=re.sub("[^a-zA-Z]{2,20}"," ",string).strip()
string1

'Python and data Science'

In [ ]:
#df["data"]= df["data1"].apply(string)

### Special Characters with Special Meaning:

In [ ]:
1. Plus(+)

In [ ]:
>> One or more occurances

In [32]:
string="1234 Python                                    and data Science      #$%@& 2023, 2022 @#$%&*"
string1=re.sub("[^a-zA-Z]+"," ",string).strip()
string1

'Python and data Science'

In [34]:
string="1234 Python                                    and data Science      #$%@& 2023, 2022 @#$%&*"
string1=re.sub("[^a-zA-Z]{2,10}"," ",string).strip()
string1

'Python    and data Science'

In [35]:
string="Python      and data       Science"
string1=re.sub("\s+"," ",string)
string1

'Python and data Science'

In [36]:
s1=""
s1.isspace()

False

In [37]:
s1=" "
s1.isspace()

True

In [39]:
line=" "
if not line:
    print("Blank line")
else:
    print("I am there")

I am there

In [40]:
line=""
if not line:
    print("Blank line")
else:
    print("I am there")

Blank line

In [42]:
text= "Python and Data Science"
result=re.findall("Python",text)
result

['Python']

In [43]:
text= "Python python Pyttthon Pythhhon and Data Science"
result=re.findall("Pyt+hon",text)
result

['Python', 'Pyttthon']

In [53]:
text= "Python python Pyttthon Pythhhon and Data Science"
result=re.findall("Pyth+on",text)
result

['Python', 'Pythhhon']

In [50]:
text= "Python python Pyttthon Pythhhon and Data Science Python"
result=re.findall("Pyt+h+on",text)
result

['Python', 'Pyttthon', 'Pythhhon', 'Python']

In [ ]:
2. Star(*)

>> Zero or more occurence

In [57]:
text= "Python python Pyttthon Pythhhon and Data Science Python Pyon"
result=re.findall("Pyt*h*on",text)
result

['Python', 'Pyttthon', 'Pythhhon', 'Python', 'Pyon']

In [59]:
text= "Python python Pyttthon Pythhhon and Data Science Python Pyon Pythhhhhon Pyton"
result=re.findall("Pyth*on",text)
result

['Python', 'Pythhhon', 'Python', 'Pythhhhhon', 'Pyton']

In [ ]:
3. dot(.)

In [ ]:
>> Any char except new line 
>> Returns result in list

In [60]:
text="Python and Data Science"

result=re.findall("Py..on",text)
result

['Python']

In [62]:
string="""
          8888855555
          9999999999
          4561237894
          4561237895
          1234567896
          8812345655
          """

result=re.findall("88......55",string)
result

['8888855555', '8812345655']

In [63]:
string="""
          8888855555
          9999999999
          4561237894
          4561237895
          1234567896
          8812345655
          """

result=re.findall("88........",string)
result

['8888855555', '8812345655']

In [70]:
string="""
          8888855555 
          1299999999
          4561237894
          4561237895
          1234567896
          8812345655
          1234569999
          """

result=re.findall("......9999",string)
result

['    129999', '1234569999']

In [ ]:
4. Question Mark(?)

In [ ]:
>> It matches exactly zero or one occurences

In [73]:
text= "Python python Pyttthon Pythhhon and Data Science Python Pyton Pythhhon"
result=re.findall("Pyth?on",text)
result

['Python', 'Python', 'Pyton']

In [74]:
text="batman and batwomen"

result=re.findall("batman",text)
result

['batman']

In [76]:
text="batman and batwomen"

result=re.findall("batwomen",text)
result

['batwomen']

In [77]:
text="batman and batwoman"

result=re.findall("batw?o?man",text)
result

['batman', 'batwoman']

In [ ]:
5. startswith(^)

In [78]:
text="batman and batwoman batwooman"
text.startswith("b")

True

In [79]:
text="1.batman and batwoman batwooman"
text.startswith("1")

True

In [80]:
text="2.batman and batwoman batwooman"
text.startswith("1")

False

In [83]:
text="batman and batwoman batwooman"
text.startswith("B")

False

In [84]:
text="#$%batman and batwoman batwooman"
text.startswith("#")

True

In [86]:
text="python and machine learning"

result=re.findall("^p",text)
result

['p']

In [87]:
text="python 1 and machine learning"

result=re.findall("^[0-9]",text)
result

[]

In [88]:
text="1 python 1 and machine learning"

result=re.findall("^[0-9]",text)
result

['1']

In [ ]:
6. endswith($):

In [3]:
import re
text="python and machine learning"

result=re.findall("and",text).split()
result

AttributeError: 'list' object has no attribute 'split'

In [90]:
text="python and machine learning"

result=re.findall("p$",text)
result

[]

In [92]:
text="python and machine learning"

result=re.findall("[a-zA-Z]+$",text)
result

['learning']

In [93]:
text="python and machine learning 123456"

result=re.findall("[0-9]+$",text)
result

['123456']

In [94]:
text="python and machine learning 123456"

result=re.findall("[0-9]$",text)
result

['6']

In [ ]:
7. or(|)

In [95]:
text="python and machine learning"

result= re.findall("python|machine",text)
result

['python', 'machine']

In [96]:
text="Python and Machine Learning"

result= re.findall(r"\b[a-zA-Z]{6}\b|\b[a-zA-Z]{7}\b",text)
result

['Python', 'Machine']

In [97]:
text="Python and Learning"

result= re.findall(r"\b[a-zA-Z]{6}\b|\b[a-zA-Z]{7}\b",text)
result

['Python']

In [98]:
text="Python and Machine Learning"

result= re.findall(r"\b[a-zA-Z]{6}\b|\b[a-zA-Z]{7}\b|\b[a-zA-Z]{8}\b",text)
result

['Python', 'Machine', 'Learning']