# Regular_Expression:

In [ ]:
7.\b:

In [ ]:
\d>> [0-9]
\D >>[^0-9]
\w>> [a-zA-z0-9_]
\W>> [^a-zA-z0-9_]
\s>>[ ] >>Space
\S>> [^ ] >> Except Space

In [ ]:
import re 

text=""" Aadhar Card Number is:
         2345 7890 7654    #valid
         4567 71234 6547   #invalid
         9876 8996 4563    #valid
         8978 5656 456789  #invalid
         12345 5656 123456 #invalid
     """

result= re.findall("\d{4}\s\d{4}\s\d{4}",text)

In [ ]:
Domain Experties>>
Research Phase>>Problem Statement

>> Western Union >> Overseas money transfer >> 6000==Rs60/- 

1. Catch maximum no of fraud  
2. Maximise the no of transactions

Data Collection(Bureau-Experian,CIBIL)>> client

1.virat kohli >> name last name dob application no  ssn pan   >> 155
                 how many accounts                            >> 350
                                                               600/- variable
        
        output>> 
2. data Cleaning:
3. EDA: Appliction receive date   >> 25/11/22
        Loan book date            >> 24/11/22
        
Height>> Age>>80,Gender>>77,area of existance>>60, colour of skin>>50
Feature reduction methods>>
VIF
Multicollinearity
Forward feature selection
Wrapper method

In [ ]:
df["Application_date"]
df["Loan_Date"]

In [ ]:
matplotlib 
seaborn
plotly

In [1]:
import re 

text=""" Aadhar Card Number is:
         2345 7890 7654    #valid
         4567 71234 6547   #invalid
         9876 8996 4563    #valid
         8978 5656 456789  #invalid
         12345 5656 123456 #invalid
     """

result= re.findall("\d{4}\s\d{4}\s\d{4}",text)
result

['2345 7890 7654', '9876 8996 4563', '8978 5656 4567', '2345 5656 1234']

In [2]:
import re 

text=""" Aadhar Card Number is:
         2345 7890 7654    #valid
         4567 71234 6547   #invalid
         9876 8996 4563    #valid
         8978 5656 456789  #invalid
         12345 5656 123456 #invalid
     """

result= re.findall(r"\b\d{4}\s\d{4}\s\d{4}\b",text)
result

['2345 7890 7654', '9876 8996 4563']

In [3]:
import re 

text=""" Aadhar Card Number is:
         2345 7890 7654    #valid
         4567 71234 6547   #invalid
         9876 8996 4563    #valid
         8978 5656 456789  #invalid
         12345 5656 123456 #invalid
     """

result= re.findall(r"\b\d{4}\s\d{4}\s\d{4}",text)
result

['2345 7890 7654', '9876 8996 4563', '8978 5656 4567']

In [4]:
import re 

text=""" Aadhar Card Number is:
         2345 7890 7654    #valid
         4567 71234 6547   #invalid
         9876 8996 4563    #valid
         8978 5656 456789  #invalid
         12345 5656 123456 #invalid
     """

result= re.findall(r"\d{4}\s\d{4}\s\d{4}\b",text)
result

['2345 7890 7654', '9876 8996 4563']

In [5]:
import re 

text=""" Aadhar Card Number is:
         2345 7890 7654    #valid
         4567 71234 6547   #invalid
         9876 8996 4563    #valid
         8978 5656 456789  #invalid
         12345 5656 123456 #invalid
     """

result= re.findall(r"\b\d{4}\s\d{4}\s\d{4}\b",text)
result

['2345 7890 7654', '9876 8996 4563']

In [7]:
import pytesseract

#https://github.com/UB-Mannheim/tesseract/wiki

ModuleNotFoundError: No module named 'pytesseract'

In [8]:
C:\Program Files\Tesseract-OCR

SyntaxError: unexpected character after line continuation character (1135330884.py, line 1)

In [2]:
import pytesseract 

pytesseract.pytesseract.tesseract_cmd=r"C:\Program Files\Tesseract-OCR\tesseract.exe"
pytesseract.pytesseract.tesseract_cmd

ModuleNotFoundError: No module named 'pytesseract'

In [59]:
image_path="pan_card4.jpg"
image_path

'pan_card4.jpg'

In [3]:
text=pytesseract.image_to_string(image_path)
print(text)

NameError: name 'pytesseract' is not defined

In [61]:
image_2='aadhar.jpg'
image_2

'aadhar.jpg'

In [62]:
text1=pytesseract.image_to_string(image_2)
print(text1)

See

ee

arr are
at FR4yo0B'2/06/1985
fee /FEMALE

0000 0000 0000 LD

Seng -31at atest ar atin

In [ ]:
im = Image.open("sample1.jpg")

text = pytesseract.image_to_string(im, lang = 'eng')

print(text)

# 2. re.search()  >> It return an object of first occurance only.

In [14]:
import re 

text="""mobile numbers:
        9988776655
        8989898888
        4455664455
     """
result= re.findall("\d{10}",text)
result

['9988776655', '8989898888', '4455664455']

In [1]:
import re 

text="""mobile numbers:
        9988776655
        8989898888
        4455664455
     """
result= re.search("\d{10}",text)
print(result)

<re.Match object; span=(24, 34), match='9988776655'>

In [17]:
import re 

text="""mobile numbers:
        9988776655
        8989898888
        4455664455
     """
result= re.search("\d{10}",text)
print(result)
result.group()

<re.Match object; span=(24, 34), match='9988776655'>

'9988776655'

In [1]:
import re 

text="""mobile numbers:
        9988776655
        8989898888
        4455664455
     """
result= re.search("\d{11}",text)
print(result)
print(result.group())

None

AttributeError: 'NoneType' object has no attribute 'group'

In [19]:
import re 

text="""mobile numbers:
        9988776655
        8989898888
        445566445555
     """
result= re.search("\d{11}",text)
print(result)
result.group()

<re.Match object; span=(62, 73), match='44556644555'>

'44556644555'

In [20]:
import re 

text="""mobile numbers:
        99887766554
        8989898888
        445566445555
     """
result= re.search("\d{11}",text)
print(result)
result.group()

<re.Match object; span=(24, 35), match='99887766554'>

'99887766554'

In [21]:
import re 

text="""mobile numbers:
        9988776655
        8989898888
        4455664455
     """
result= re.search("\d{11}",text)
if result:
    print(result.group())
else:
    print("No match found")

No match found

In [22]:
import re 

text="""mobile numbers:
        99887766559
        8989898888
        4455664455
     """
result= re.search("\d{11}",text)
if result:
    print(result.group())
else:
    print("No match found")

99887766559

In [24]:
import re 

text="""mobile numbers:
        9988776655
        8989898888
        4455664455
     """
result= re.search("\d{10}",text)
if result:
    print(result.group())
    print(result.span())
else:
    print("No match found")

9988776655
(24, 34)

In [25]:
import re 

text="""mobile numbers:
        9988776655
        8989898888
        4455664455
     """
result= re.search("\d{10}",text)
if result:
    print(result.group())
    print(result.span())
    print(result.start())
    print(result.end())
else:
    print("No match found")

9988776655
(24, 34)
24
34

In [26]:
import re 

text="""mobile numbers:
        9988776655
        8989898888
        4455664455
     """
result= re.search("\d{11}",text)
if result:
    print(result.group())
    print(result.span())
    print(result.start())
    print(result.end())
else:
    print("No match found")

No match found

In [27]:
import re 

text="""mobile numbers:
        9988776655
        8989898888
        445566445566
     """
result= re.search("\d{12}",text)
if result:
    print(result.group())
    print(result.span())
    print(result.start())
    print(result.end())
else:
    print("No match found")

445566445566
(62, 74)
62
74

In [ ]:
3.match():
re.match()

In [41]:
import re 

text="""9988776655
        89898988
        445566445566
     """
result= re.match("\d{10}",text)
print(result)

<re.Match object; span=(0, 10), match='9988776655'>

In [40]:
import re 

text="""
        9988776655
        89898988
        445566445566
     """
result= re.match("\d{10}",text)
print(result)

None

In [34]:
import re 

text="""9988776655
        89898988
        445566445566
     """
result= re.match("\d{10}",text)
result

In [45]:
import re 

text="""998877665
        89898988
        445566445566
     """
result= re.match("\d{10}",text)
print(result)

None

In [ ]:
4.compile:
    ? >>

In [ ]:
5. split()

In [46]:
string="Python and data science"
string.split()

['Python', 'and', 'data', 'science']

In [47]:
string="Python 1 and data 2 science"
string.split("1")

['Python ', ' and data 2 science']

In [48]:
string="Python , and data ,science"
string.split(",")

['Python ', ' and data ', 'science']

In [49]:
text="23-45|67-89-63|45-45-45"

text.split("-")

['23', '45|67', '89', '63|45', '45', '45']

In [50]:
text="23-45|67-89-63|45-45-45"

text.split("|")

['23-45', '67-89-63', '45-45-45']

In [ ]:
6. re.sub()

In [55]:
import re 

text="""Aadhar card Number:
        9988776655
        89898988
        445566445566
     """
result= re.sub("\d","",text)
result

'Aadhar card Number:\n        \n        \n        \n     '

In [56]:
import re 

text=""" Aadhar Card Number is:
         2345 7890 7654    #valid
         4567 71234 6547   #invalid
         9876 8996 4563    #valid
         8978 5656 456789  #invalid
         12345 5656 123456 #invalid
     """

result= re.sub("\s","$",text)
result

'$Aadhar$Card$Number$is:$$$$$$$$$$2345$7890$7654$$$$#valid$$$$$$$$$$4567$71234$6547$$$#invalid$$$$$$$$$$9876$8996$4563$$$$#valid$$$$$$$$$$8978$5656$456789$$#invalid$$$$$$$$$$12345$5656$123456$#invalid$$$$$$'

In [ ]:
datetime module
os module>> open file 
module packages
regex
exception handling

In [ ]:
OOPS
NUMPY(NUMERICAL PYTHON)(3-4DAYS)
PANDAS(90-95% DATA SCIENTIST)>> ML,DL,NLP(8DAYS)

LINEAR REGRESSION
AWS(AMAZON WED SERVICE)>> Renu
Flask>> Gererate api

LOGISTIC REGRESSION
20
EDA:
FEATURE SELECTION

NLP>> 
DL>> 

SQL>> swapnali/Premanad

In [ ]:
AWS(amazon)>> leasing boxes 
azure

In [ ]:
input=

In [ ]:
output=