In [7]:
a=10
b=30.5

c=a+b

print("Addition of {} and {} is : {} ".format(a,b,c))

Addition of 10 and 30.5 is : 40.5

In [8]:
a=10
b=30.5

c=a+b

print(c)

40.5

In [10]:
a=10
b=30.5

c=a+b

print("Addition of %d and %.3f is: %.2f"%(a,b,c))

Addition of 10 and 30.500 is: 40.50

In [16]:
x="python"
y="Data Science"
print(x,y,sep="*",end=" ")
z="Machine Learning"
print(z)

python*Data Science Machine Learning

In [ ]:
1.Identifiers.
2.Keywords.
3.Python Statements.
4.Comments.
5.Variables.
6.Indentation.

## 1_Identifier

In [ ]:
Identifier is name given to any entities such as classes, Functions and variables.

In [ ]:
Rules to define Identifiers:
    1) Identifiers can be a combination of Uppercase(A-Z), lower case (a-z),digits(0-9) and underscore(_).
    2) Identifiers can not be started with digits (0-9).
    3) Keywords can not be used as a identifiers.
    4) Special Characters like @,#,$,%,^,&,* etc can not be used as a name of identifier.
    5) Identifiers are Case sensitive.

In [18]:
Name_1="Virat Kolhi"
Name_1

'Virat Kolhi'

In [19]:
name_1="Rohit Sahrma"
name_1

'Rohit Sahrma'

In [20]:
_name123="KL RAhul"
_name123

'KL RAhul'

In [92]:
123_name="M S Dhoni"
123_name

SyntaxError: invalid decimal literal (<ipython-input-92-414797b0e445>, line 1)

In [22]:
my_varible_name1234="Mitali Raj"
my_varible_name5678="Smruti Mandana"

print(my_varible_name1234)
print(my_varible_name5678)

Mitali Raj
Smruti Mandana

In [25]:
@_name ="Rahul"

print(@_name)

SyntaxError: invalid syntax (<ipython-input-25-9e833ca62fe1>, line 1)

In [27]:
Name@1234="M S Dhoni"

SyntaxError: cannot assign to operator (<ipython-input-27-46290a27035e>, line 1)

In [32]:
_=50

a=20
A=60

print(_)
print(a)
print(A)

50
20
60

## 2. Keywords:

In [ ]:
Keywords are reserved words in python which we can not use as a name of Identifiers,Functions and variables.

In [38]:
import keyword

print(keyword.kwlist)

print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [42]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
True
False
and 
break
continue
finally
not
return
print

In [ ]:
print()
max()
min()
sum()
round()
type()

In [43]:
list1=[1,2,3,4,5,6]
max(list1)

6

In [45]:
min(list1)

1

In [46]:
sum(list1)

21

In [47]:
tuple1=(1,2,3,4,5)
sum(tuple1)

15

In [49]:
a=10
b=23.5
print(a)
print(b,type(b),id(b))

10
23.5 <class 'float'> 1467756305424

In [52]:
print="python"
print

'python'

In [53]:
print("hello")

TypeError: 'str' object is not callable

In [54]:
print(50)

TypeError: 'str' object is not callable

In [55]:
del print

In [56]:
print("Hello")

Hello

In [57]:
print(50)

50

In [61]:
list1=[1,2,3,4,5,6,7]

print(list1)

[1, 2, 3, 4, 5, 6, 7]

In [63]:
del list1

In [64]:
list1

NameError: name 'list1' is not defined

In [ ]:
Variables-
name   #valid
Name   #valid
Name1  #valid
Name_123  #valid
123_Name  #Invalid
My_@Name  #Invalid
_name     #Valid
my name   #Invalid (Space is not allowed)

## 3. Python Statements

In [ ]:
These are the instructions which python interpreter can execute.

In [113]:
# p=1+2+3+\     # Use backslash to tell interpreter that this is single line character.
#     4+5+6+\
#     7+8+9
   
# print(p)


# p= 1+2+3+\     
#    4+5+6+\
#    7+8
# print(p)

In [66]:
b= (1+2+3+
   4+5+6+
   7+8)
print(b)

36

In [68]:
a=10;  b=20; c=30;

print(a,b,c)

10 20 30

In [70]:
print("Virat"); print("Rohit");print("Rahul")

Virat
Rohit
Rahul

## 4.Comments

In [ ]:
-Comments are lines in python program that are ignored by compiler or interpreter.
-Comments makes code more readable and also its good practice to write comments in program.
-"#" key is used to comments out statements in python
- Triple double quote (""" """)
- Triple single quote (''' ''')

In [71]:
print("python")
print("Machine Learning")
print("Data Science")

python
Machine Learning
Data Science

In [72]:
print("python")
#print("Machine Learning")
print("Data Science")

python
Data Science

In [75]:
print("1. Python and Data Science")
print("2. Python and Data Science")
print("3. Python and Data Science")
print("4. Python and Data Science")
print("5. Python and Data Science")
print("6. Python and Data Science")
print("7. Python and Data Science")
print("8. Python and Data Science")
print("9. Python and Data Science")

1. Python and Data Science
2. Python and Data Science
3. Python and Data Science
4. Python and Data Science
5. Python and Data Science
6. Python and Data Science
7. Python and Data Science
8. Python and Data Science
9. Python and Data Science

In [76]:
print("1. Python and Data Science")
print("2. Python and Data Science")
#print("3. Python and Data Science")
print("4. Python and Data Science")
print("5. Python and Data Science")
#print("6. Python and Data Science")
print("7. Python and Data Science")
#print("8. Python and Data Science")
print("9. Python and Data Science")

1. Python and Data Science
2. Python and Data Science
4. Python and Data Science
5. Python and Data Science
7. Python and Data Science
9. Python and Data Science

In [ ]:
2. Multiline Comments:-

In [ ]:
use this to comment out statements= control+/

In [77]:
print("1. Python and Data Science")
print("2. Python and Data Science")
print("3. Python and Data Science")
# print("4. Python and Data Science")
# print("5. Python and Data Science")
# print("6. Python and Data Science")
# print("7. Python and Data Science")
# print("8. Python and Data Science")
# print("9. Python and Data Science")

1. Python and Data Science
2. Python and Data Science
3. Python and Data Science

## 5. Indentation:-

In [ ]:
In python we use indentation to define perticular block of code.
- 4Spaces/ tab key to give indentation(Generally 4spaces are preferred)

In [83]:
list1=[1,2,3,4,5,6,7,8,9,10]
for x in list1:
    if x>=5:
        print(x)
    else:
        print("I am smaller than 5")

print("Good Morning")

I am smaller than 5
I am smaller than 5
I am smaller than 5
I am smaller than 5
5
6
7
8
9
10
Good Morning

In [ ]:
if:
if-else
if-elif-else
while
do-while
for loop

## 6. Variables:-

In [ ]:
-Variable is a location in memory used to store some data/ perticular value.

-Quantity and information refered to entity.

In [86]:
a=50
a="python"
a="machine learning is good"
a
del a 
a

NameError: name 'a' is not defined

In [ ]:
Identifier:-
    
a=
name=
_Name=

def function_name():
    return

In [87]:
def add_123(a,b):
    print(a+b)

In [90]:
add_123(25,52)

77

In [115]:
a= 50

a

50

In [116]:
del a

In [117]:
a

NameError: name 'a' is not defined

In [119]:
x=3

print(x,type(x),id(x))

3 <class 'int'> 140736265463648

In [120]:
y=3
print(y,type(y),id(y))

3 <class 'int'> 140736265463648

In [122]:
y=4
print(y,type(y),id(y))

4 <class 'int'> 140736265463680

In [ ]:
p=

In [124]:
'''
    Hello word
               '''

'\n    Hello word\n               '

In [127]:
x=3

"""
I am happy
"""
x

3

In [ ]:
Type of Variables:
    1) Local Variables.
    2) Global Variables.

In [ ]:
Global variable are the variables which are declared outside the function i. e. in global scope

In [134]:
x=10
y=20
z=30

def my_function():
    p=5
    global x
    x=x*2
    print('The value of X variable is:',x)
    print('The value of y variable is:',y)
    print('The value of z variable is:',z)
    print('The value of p variable is:',p)
    
    
my_function()

36
The value of X variable is: 20
The value of y variable is: 20
The value of z variable is: 30
The value of p variable is: 5