### Modules_Packages

In [ ]:
linear regression
   def preprocessing():
        #str
        #List
        pass
    return 
   
def EDA():
    pass 
    return 
KNN
SVM

In [3]:
def greeting(name):
    print("Hello, " + name)

In [1]:
from math import sqrt,factorial
print(sqrt(16))
print(factorial(6))

4.0
720

In [2]:
import sys
print(sys.path)

['C:\\Users\\Deepak\\Downloads\\python daily class notes', 'C:\\Users\\Deepak\\anaconda3\\python39.zip', 'C:\\Users\\Deepak\\anaconda3\\DLLs', 'C:\\Users\\Deepak\\anaconda3\\lib', 'C:\\Users\\Deepak\\anaconda3', '', 'C:\\Users\\Deepak\\AppData\\Roaming\\Python\\Python39\\site-packages', 'C:\\Users\\Deepak\\anaconda3\\lib\\site-packages', 'C:\\Users\\Deepak\\anaconda3\\lib\\site-packages\\win32', 'C:\\Users\\Deepak\\anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\Deepak\\anaconda3\\lib\\site-packages\\Pythonwin']

In [ ]:
#Data different:

In [ ]:
keyword import

In [2]:
import math

In [3]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [4]:
help(math.sqrt)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.

In [5]:
math.sqrt(16)

4.0

In [7]:
math.pow(4,2)

16.0

In [8]:
import math as m

In [9]:
m.sqrt(16)

4.0

In [10]:
m.pow(3,2)

9.0

In [11]:
m.sin(90)

0.8939966636005579

In [12]:
m.cos(0)

1.0

In [13]:
from math import sqrt as s

In [14]:
s(16)

4.0

In [15]:
from math import pow as p

In [16]:
p(4,2)

16.0

In [20]:
import pandas as pd

In [18]:
print(dir(pandas))

['BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__getattr__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_hashtable', '_is_numpy_dev', '_lib', '_libs', '_np_version_under1p16', '_np_version_under1p17', '_np_version_under1p18', '_testing', '_tslib', '_typing', '_version', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [22]:
data=pd.DataFrame({"city":["pune","mumbai","nashik","satara"],"temperature":[10,20,30,40],"Humidity":[1,2,3,4]})

In [23]:
data

     city  temperature  Humidity
0    pune           10         1
1  mumbai           20         2
2  nashik           30         3
3  satara           40         4

In [33]:
data2=pd.DataFrame({"city":["New York","chicago","Manhatten","Berlin","pune"],"temp":[100,200,300,400,500],"Hum":[11,12,13,14,15]})

In [34]:
data2

        city  temp  Hum
0   New York   100   11
1    chicago   200   12
2  Manhatten   300   13
3     Berlin   400   14
4       pune   500   15

In [28]:
data3=pd.merge(data,data2,on="city",how="outer")     # union

In [29]:
data3

        city  temperature  Humidity   temp   Hum
0       pune         10.0       1.0    NaN   NaN
1     mumbai         20.0       2.0    NaN   NaN
2     nashik         30.0       3.0    NaN   NaN
3     satara         40.0       4.0    NaN   NaN
4   New York          NaN       NaN  100.0  11.0
5    chicago          NaN       NaN  200.0  12.0
6  Manhatten          NaN       NaN  300.0  13.0
7     Berlin          NaN       NaN  400.0  14.0

In [35]:
data3=pd.merge(data,data2,on="city",how="inner")    # intersection

In [36]:
data3

   city  temperature  Humidity  temp  Hum
0  pune           10         1   500   15

In [37]:
data3=pd.merge(data,data2,on="city",how="left")

In [38]:
data3

     city  temperature  Humidity   temp   Hum
0    pune           10         1  500.0  15.0
1  mumbai           20         2    NaN   NaN
2  nashik           30         3    NaN   NaN
3  satara           40         4    NaN   NaN

In [40]:
data3=pd.merge(data,data2,on="city",how="right")
data3

        city  temperature  Humidity  temp  Hum
0   New York          NaN       NaN   100   11
1    chicago          NaN       NaN   200   12
2  Manhatten          NaN       NaN   300   13
3     Berlin          NaN       NaN   400   14
4       pune         10.0       1.0   500   15